  /*! normalize.css v1.1.0 | MIT License | git.io/normalize */

  /* ==|== HTML5 display definitions ========================================== */

  article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
  audio, canvas, video { display: inline-block;*display: inline;*zoom: 1; }
  audio:not([controls]) { display: none;height: 0; }

  [hidden] { display: none; }

  html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
  html, button, input, select, textarea { font-family: sans-serif; }
  body { margin: 0; }

  a:focus { outline: thin dotted; }
  a:active,
  a:hover { outline: 0; }

  h1 { font-size: 2em;margin: 0.67em 0; }
  h2 { font-size: 1.5em;margin: 0.83em 0; }
  h3 { font-size: 1.17em;margin: 1em 0; }
  h4 { font-size: 1em;margin: 1.33em 0; }
  h5 { font-size: 0.83em;margin: 1.67em 0; }
  h6 { font-size: 0.67em;margin: 2.33em 0; }

  abbr[title] { border-bottom: 1px dotted; }

  b, strong { font-weight: bold; }
  blockquote { margin: 1em 40px; }
  dfn { font-style: italic; }
  hr { -moz-box-sizing: content-box;box-sizing: content-box;height: 0; }
  mark { background: #ff0;color: #000; }
  p, pre { margin: 1em 0; }
  code, kbd, pre, samp { font-family: monospace, serif;_font-family: 'courier new', monospace;font-size: 1em; }
  pre { white-space: pre;white-space: pre-wrap;word-wrap: break-word; }
  q { quotes: none; }
  q:before,
  q:after { content: '';content: none; }
  small { font-size: 80%; }
  sub, sup { font-size: 75%;line-height: 0;position: relative;vertical-align: baseline; }
  sup { top: -0.5em; }
  sub { bottom: -0.25em; }
  dl, menu, ol, ul { margin: 1em 0; }
  dd { margin: 0 0 0 40px; }
  menu, ol, ul { padding: 0 0 0 40px; }
  nav ul, nav ol { list-style: none;list-style-image: none; }
  img { border: 0; -ms-interpolation-mode: bicubic; }
  svg:not(:root) { overflow: hidden; }
  figure { margin: 0; }
  form { margin: 0; }

  fieldset { border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em; }
  legend { border: 0; padding: 0;white-space: normal; *margin-left: -7px; }
  button, input, select,
  textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

  button, input { line-height: normal; }
  button, select { text-transform: none; }
  button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; *overflow: visible; }
  button[disabled], html input[disabled] { cursor: default; }

  input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }
  input[type="search"] { -webkit-appearance: textfield;  -moz-box-sizing: content-box;-webkit-box-sizing: content-box; box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

  button::-moz-focus-inner, input::-moz-focus-inner { border: 0;padding: 0; }
  textarea { overflow: auto; vertical-align: top; }
  table { border-collapse: collapse;border-spacing: 0; }

  /* ==|== primary styles ===================================================== */

/* global */
* { margin: 0; padding: 0; }
html {
	background: url(../img/rcep_bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body { font: 15px/1.4 Arial, Helvetica, sans-serif; color: #fff; }
img { display: block; }

/* rcep colour control */
#rcep { background: rgba(0, 0, 0, 0.75); }
#rcep .rcep-list li a .tag:before { color: rgba(255, 255, 255, 0.2); }
#rcep .rcep-list li a.soon,
#rcep .rcep-list li a.soon .category,
#rcep .rcep-list li a .tag { color: rgba(255, 255, 255, 0.4); }
#rcep .search-filter fieldset { background: rgba(255, 255, 255, 0.1); }
#rcep .navigation ul.filtered li.active { background: rgba(255, 51, 0, 1); }
#rcep .navigation ul.filtered li { background: rgba(255, 51, 0, 0.2); }

.no-touch #rcep .navigation ul li:hover { background: rgba(255, 51, 0, 0.75); }
.no-touch #rcep .navigation ul.filtered li:hover { background: rgba(255, 51, 0, 0.33); }
.no-touch #rcep .navigation ul.filtered li.active { background: rgba(255, 51, 0, 1); }
.no-touch #rcep .navigation ul.filtered li { background: rgba(255, 51, 0, 0.2); }
.no-touch #rcep .rcep-list li a:hover { background: rgba(255, 255, 255, 0.1); }

/* rcep animation control */
#rcep,
#rcep h1 {
	/* Chrome, Safari, Opera */
	-webkit-transition: all 1s;
	/* Standard syntax */
	transition: all 1s;
}
/* rcep list: animate */
/* you can also define the transition style
   on the base class as well (.build-listing) */
.build-listing.ng-enter, 
.build-listing.ng-leave, 
.build-listing.ng-move {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position: relative;
}
.build-listing.ng-enter {
  left: -10px;
  opacity: 0;
}
.build-listing.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}
.build-listing.ng-leave {
  left: 0;
  opacity: 1;
}
.build-listing.ng-leave.ng-leave-active {
  left: -10px;
  opacity: 0;
}
.build-listing.ng-move {
  opacity: 0.5;
}
.build-listing.ng-move.ng-move-active {
  opacity: 1;
}

/* rcep main */
#rcep { padding: 20px 5%; margin: 0 auto; width: 90%; max-width: 600px; }
#rcep h1,
#rcep h2 { font: 24px/1.4em 'Trebuchet MS', Helvetica, sans-serif; color: #F30; padding: 0; margin: 0 0 30px; }
#rcep h1 { max-width: 285px; }
#rcep h2 { font-size: 22px; color: #fff; padding: 0; margin: 0 0 5px; }

/* rcep filter */
#rcep .search-filter { margin: 0 0 30px; }
#rcep .search-filter fieldset { border: none; margin: 0; padding: 0; padding: 10px; }
#rcep .search-filter input { display: block; width: 100%; border: none; outline: none; background: none; font-size: 20px; color: #fff; }

/* rcep navigation */
#rcep .navigation { margin: 0 0 30px; }
#rcep .navigation ul { margin: 0; padding: 0; list-style: none; overflow: hidden; }
#rcep .navigation ul li { float: left; display: block; padding: 5px; font-family: "Lucida Console", Monaco, monospace; font-size: 12px; text-transform: uppercase; color: #fff; background: #FF3300; margin: 0 10px 10px; cursor: pointer; border-radius: 3px; }
#rcep .navigation ul li { float: left; display: block; padding: 5px; font-family: "Lucida Console", Monaco, monospace; font-size: 12px; text-transform: uppercase; color: #fff; background: #FF3300; margin: 0 10px 10px 0; cursor: pointer; border-radius: 3px; }

/* rcep list */
#rcep .rcep-list { list-style: none; padding: 0; margin: 0; }
#rcep .rcep-list li { margin-bottom: 10px; }
#rcep .rcep-list li a { display: block; text-decoration: none; color: #fff; border-left: 2px solid #666; padding: 5px 10px; }
#rcep .rcep-list li a .name { font-size: 20px; display: block; }
#rcep .rcep-list li a .category,
#rcep .rcep-list li a .tag { font-family: "Lucida Console", Monaco, monospace; font-size: 12px; }
#rcep .rcep-list li a .category { text-transform: uppercase; color: #FF3300; }
#rcep .rcep-list li a .tag:before { content: '#'; }
#rcep .rcep-list li a.soon { cursor: default; }
#rcep .rcep-list li a.soon:hover { background: none; border-left: 2px solid #666; }

.no-touch #rcep .rcep-list li a:hover { border-left: 2px solid #FF3300; }

/* ==|== media queries ====================================================== */

@media only screen and (min-width: 680px) {
	#rcep { padding: 20px 28px; margin: 30px auto; }
	#rcep h1 { font-size: 28px; max-width: 100%; }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 980px) {}

/* ==|== visual jazz utility classes ======================================== */

.skip-links {	height:0;	overflow:hidden; }
.print-logo {display: none;}		
.left {float: left;}
.right {float: right;}
.clearer {clear: both;}
.overflow {overflow:hidden}

/* ==|== non-semantic helper classes ======================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* ==|== print styles ======================================================= */

@media print {
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
	.print-logo {display: block;}
}

