<!doctype html>
<html lang="en" ng-app="rcep">

<head>
	<meta charset="utf-8" />

	<title>RCEP</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<link rel="icon" href="favicon.ico" />
	<link rel="SHORTCUT ICON" href="favicon.ico" />
	<link rel="apple-touch-icon" href="apple-touch-icon.png">

	<link href="css/style.css" rel="stylesheet" media="all" />

</head>

<body ng-controller="main">

	<!-- Content start -->
	<div id="page-wrap">

		<div id="rcep">
			<h1>Reusable Components &amp; Experimental Projects</h1>

			<form class="search-filter" action="" method="post">
				<fieldset>
					<input id="filter" type="text" placeholder="Enter keyword &amp; enter" value="" ng-model="query">
				</fieldset>
			</form>

			<div class="navigation" build-categories>
				<h2>Category filter</h2>
				<ul id="nav-list">
					<li ng-repeat="build in buildList | category" ng-click="catFilterControl(build)">{{build.category}}</li>
				</ul>
			</div>

			<ul class="rcep-list" id="rcep-list" ng-controller="buildsController as builds">
				<li ng-repeat="build in builds.buildList | filter:query | filter:categoryFilter | orderBy:'title':reverse" class="build-listing">
					<a ng-href="{{build.filePath}}" target="_blank" title="{{build.description}}" ng-class="{ soon:build.integrated === 'false' }">
						<span class="name">{{build.title}}</span>
						<span class="category">{{build.category}}</span>
						<span class="tag" ng-repeat="tag in build.tags">{{tag.name}} </span>
					</a>
				</li>
			</ul>

		</div>

	</div>
	<!-- Content end -->

	<!-- JavaScript at the bottom for fast page loading -->
	<script src="js/plugins.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-animate.min.js"></script>
	<script src="js/app.js"></script>

</body>

</html>