/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 12px; line-height: 1.5; }
body, button, input, select, textarea { font-family: Arial, sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 0; border: 0; border: none; border-bottom: 2px solid #333; margin: 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
iframe { border: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* ==|== primary styles =====================================================
   Author: Tony Trinh, 30.7.12
   ========================================================================== */

/* FONTS */
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on July 30, 2012 */
@font-face {
    font-family: 'FuturaStdBookRegular';
    src: url('../fonts/futurastd-book-webfont.eot');
    src: url('../fonts/futurastd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futurastd-book-webfont.woff') format('woff'),
         url('../fonts/futurastd-book-webfont.ttf') format('truetype'),
         url('../fonts/futurastd-book-webfont.svg#FuturaStdBookRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaStdMediumRegular';
    src: url('../fonts/futurastd-medium-webfont.eot');
    src: url('../fonts/futurastd-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futurastd-medium-webfont.woff') format('woff'),
         url('../fonts/futurastd-medium-webfont.ttf') format('truetype'),
         url('../fonts/futurastd-medium-webfont.svg#FuturaStdMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaStdMediumBold';
    src: url('../fonts/futurastd-heavy-webfont.eot');
    src: url('../fonts/futurastd-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futurastd-heavy-webfont.woff') format('woff'),
         url('../fonts/futurastd-heavy-webfont.ttf') format('truetype'),
         url('../fonts/futurastd-heavy-webfont.svg#FuturaStdMediumBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* GLOBAL */
body { background: #bfe7f7 url(../img/bg-pattern.png) top center repeat-y; }
#header-wrap, #middle-wrap, #footer-wrap { width: 100%; }
#header, #middle, #footer { width: 960px; margin: 0 auto; }
ul#top, #mini-nav, #big-nav, .nopom
	{ list-style: none; padding: 0; margin: 0; }

h1, h2, h3, h4, h5, p { font-weight: normal; line-height: 1.2; margin: 0; }
h1, h2 { font-family: 'FuturaStdMediumRegular'; }
h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 15px; }
a {text-decoration: none; color: #009EDF;}
a:hover { text-decoration: underline; }
img { display: block; }
p { line-height: 1.5; }

/*  Structural
=========================== */
.section { margin-bottom: 100px; overflow: hidden;}
.midSection { margin-bottom: 60px; overflow: hidden; }
.medSection { margin-bottom: 50px; }
.biSection	{ margin-bottom: 40px; overflow: hidden; }
.subSection { margin-bottom: 25px; }
.smlSection { margin-bottom: 15px; }
.minSection { margin-bottom: 10px; overflow: hidden; }

.oneColumn { width: 605px; }
.twoColumn { width:290px; margin-right: 25px; float:left; }
.twoColumn.last { margin-right: 0; }
.threeColumn { width:191px; margin-right: 16px; float:left; }
.threeColumn.last { margin-right: 0; }

/*  Buttons
=========================== */
.button {
	width: auto;
	height: 24px;
	margin: 0;
	padding: 0 13px;
	background: #009edf url(../img/horizontal-patterns-24.png) 0 -198px repeat-x;
	font: 13px/1em 'FuturaStdMediumBold';
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	border: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	 border-radius: 2px; }
.button:hover { background-position: 0 -222px; }
a.button { display: block; padding: 6px 7px 0; height: 18px; background-color: #000; color:#fff; }
a.button.headingButton { float: right; margin-top: 2px; }
a.button:hover { text-decoration: none; }
	.button.small { width: 72px; padding: 0; }
	.button.search { width: 68px; padding: 0; }
	.button.refine { width: 123px; padding: 0; }
	.button.side-btn { width: 133px; padding: 6px 0 0; float: right; margin: 0 20px 25px 0; }

/*  Forms & Validation
=========================== */
.form, .content ul.form
	{ background: #e8e8e8; padding: 16px; margin: 0; list-style: none; }
.form li, .content .form li { list-style-position: outside; padding: 0; width: 100%; min-height:24px ; position: relative; list-style: none; }
.form li.heading { padding: 0 0 7px; margin: 0 0 24px; border-bottom: 1px solid #c8c8c8; }
.content .form .heading h3 { color: #009edf; padding: 0; }

.form label						{ font-size: 13px; font-weight:bold; color:#000; display: block; width: 100%; line-height: 25px; }
input, textarea,
select, textarea 				{ width: 139px; color: #919090; font-size: 11px; margin: 0; background: #fff url(../img/horizontal-patterns-24.png) left -1030px repeat-x; border: 1px solid #e6e6e6; }
input 							{ padding: 4px 5px; height: 14px; }
select 							{ line-height: 18px; padding: 2px 2px 2px 5px; height: 24px; }
.form textarea					{ width: 561px; min-height: 80px; padding: 3px 5px; }
.form .radio-btn				{ margin: 4px 0 0; height: auto; width: auto; padding: 0; }
.form .radio					{ padding: 0 3px; font-weight: normal; }
.form .inline 					{ margin-right: 25px; float:left; width: auto;}
.form .twoColumn				{ width:273px; display: inline-block; *display: inline; zoom: 1; }
.form .button 					{ float: right; }

.inputPrompt { color: #919090; }
.line-fix { height: 15px; }

.form input.error,
.form select.error,
.form textarea.error { border: 2px solid #f14c00; padding: 3px; }
.form select.error { padding: 1px 3px; }
.form label.error { font-size: 12px; font-weight: normal; line-height: 12px; color: red; padding: 4px 0 0; font-style: italic; }
	.ie7 .form label.error { float: left; display: block; }

/* HEADER */
#header-wrap { background: url(../img/bg_header.png) center top repeat-x; min-width: 960px; }
#header { position: relative; padding: 70px 0 0 0; }
	#mini-nav { background: #242222; position: absolute; top: 0; left: 20px; padding: 11px 16px 0 0; height: 29px; overflow: hidden; }
	#mini-nav li { float: left; font-size: 11px; }
	#mini-nav a { text-decoration: none; color: #009edf; border-right: 1px solid #454343; padding: 0 10px 0 0; margin: 0 10px 0 0; }
	#mini-nav .last { border-right: none; margin: 0; padding: 0; }
	#mini-nav a:hover { color: #fff; }

	#header .logo { display: block; width: 455px; height: 52px; margin: 0 0 0 20px; }
	.ie7 #header .logo { margin: 0 0 34px 24px; }

	#big-nav { overflow: hidden; width: 920px; padding: 0; margin: 34px 20px 12px 20px; height: 74px; border-top: 1px solid #454343; border-bottom: 2px solid #fff; }
	#big-nav li { float: left; height: 74px; }
	#big-nav a { float: left; margin: 12px 0 0 0; padding: 8px 0 0 0; height: 40px; text-decoration: none; color: #fff; font: 18px/1.1em 'FuturaStdMediumRegular'; text-transform: uppercase; }
	#big-nav a span { display: block; color: #919090; font: 12px/1.2em 'FuturaStdBookRegular'; text-transform: none; }
	#big-nav li.our-work { margin: 0 53px 0 0; }
	#big-nav li.get-involved { margin: 0 54px 0 0; }
	#big-nav li.news-media { margin: 0 44px 0 0; }
	#big-nav li.training {}
	#big-nav li.donate { float: right; }
	#big-nav li.our-work a { width: 99px; }
	#big-nav li.get-involved a { width: 138px; }
	#big-nav li.news-media a { width: 132px; }
	#big-nav li.training a { padding: 8px 0 0 10px; width: 254px; background: url(../img/horizontal-patterns-24.png) left -6px repeat-x; }
	#big-nav li.training a span { color: #f8c4da; }
	#big-nav li.donate a { font-size: 24px; padding: 11px 0 0 0; width: 124px; height: 37px; text-align: center; background: url(../img/horizontal-patterns-24.png) left -102px repeat-x; }
		.ie7 #big-nav li.donate a { padding: 12px 0 0 0; height: 36px; }
	#big-nav li a:hover, #header #big-nav li.active a { color: #009edf; }
	#big-nav li.training a:hover, #header #big-nav li.training.active a { color: #fff; background-position: left -54px; }
	#big-nav li.donate a:hover, #header #big-nav li.donate.active a { color: #fff; background-position: left -150px; }
	#big-nav li.active { background: url(../img/horizontal-patterns-24.png) center 68px no-repeat; }

	#featured-media { width: 920px; margin: 0 20px; background: #242222; position: relative; }
	#featured-media:before,
	#featured-media:after { position: absolute; top: 0; left: -9px; content:""; display: block; width: 9px; height: 216px; background: url(../img/header-side-shadows.png) 0 0 repeat-y; }
	#featured-media:after { left: 920px; background-position: -9px 0; }
	#featured-media .carousel-control {bottom: 90px; left: -24px;}
	#myCarousel { float: left; position: relative; height: 330px; width: 630px; }
 	#myCarousel .carousel-item { width: 630px; height: 330px; }

	/* Carousel Arrows common */
	.carousel-control { position: absolute; width: 48px; height: 24px; background-color: #fff; z-index: 4; }
	.carousel-control a { display: block; text-decoration: none; width: 24px; height: 24px;  background: url(../img/sprite24.png) -152px -88px; no-repeat; text-indent: -9999px; float: left; }
	.carousel-control a:hover { opacity: 0.75; filter:alpha(opacity=75); }
	.carousel-control .leftArrow {float: left; background-position: -128px -88px; }

	#header .modulesContainer { width: 290px; float:right; }

	.homepage #header-wrap { background: url(../img/bg_headerHome.png) center top repeat-x; min-width: 960px; }
	.homepage #myCarousel { height: 496px; }
	.homepage #myCarousel .carousel-item { height: 496px; }
	.homepage #featured-media .carousel-control {bottom: 68px; left: -24px; }
	.homepage #featured-media:before,
	.homepage #featured-media:after { height: 404px; }

	/* Breadcrumbs */
	.breadcrumbs { font-size: 13px; list-style: none; margin: 16px 0 0 20px; padding: 0; overflow: hidden; height: 24px; color: #242222; }
	.breadcrumbs li { display: block; padding: 3px 0 0; height: 21px; float:left; margin-right: 10px; }
		.breadcrumbs .homeCrumb,
		.breadcrumbs .ddlBreadcrumbsList { padding: 0; height: 24px; }
	.breadcrumbs .arrow { padding-left:16px; background: url(../img/sprite24.png) -257px -214px; }
	.breadcrumbs .ddlBreadcrumbs { width: auto; font-size: 13px; color: #242222; line-height: 20px; margin: 0; padding: 3px 3px 3px 5px; background: #e8e8e8; border: none; border: 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
		.ie7 .breadcrumbs .ddlBreadcrumbs { background: #fff; margin: 2px 0 0; }

/* MIDDLE */
#middle { position: relative; padding: 35px 0 8px 20px; width: 940px; overflow: hidden; clear: both;}
#middle:after { position: absolute; bottom: 0; left: 20px; content:""; display: block; overflow: hidden; width: 139px; height: 8px; background: #2e2c2c; }
.homepage #middle { padding: 54px 0 8px 20px; }
	#middle .content { width: 605px; float: left; }
	#middle .modulesContainer { width: 310px; float: right; padding: 46px 0 0; }
	#middle .modulesContainer.heading { padding: 0; }

/* CONTENT STYLING */
#middle h1,
#middle h2 { color: #009edf; text-transform: uppercase; padding: 0 0 12px 0; }
#middle .heading h1 { padding: 0 0 7px; }
#middle h2.no-pad { padding: 0; }
#middle p strong, #middle p b { color: #242222; }
#middle .right { padding: 0 0 8px 15px; }
	.content h3 		{ color: #242222; }
	.content h3.blue 	{ color: #009edf; padding: 0 0 20px; }
	.content h4 		{ color: #009edf; padding: 15px 0; }
	.content p 			{ padding: 0 0 15px; color: #5b5959; }
	.content ul 		{ margin: 0; padding: 0 0 6px; color: #5b5959; }
	.content li 		{ list-style-position: inside; list-style-type: square; padding: 0 0 9px; }
.text-styling h3 		{ padding: 15px 0; }
#middle h3 a, #middle h4 a, #middle h5 a { text-decoration: none; color: #242222; }
#middle h3 a:hover, #middle h4 a:hover, #middle h5 a:hover { color: #009edf; }

.intro p { font-size: 15px; font-weight: bold; color: #242222; }
	.intro span { color: #919090; }
.footNote { width: 575px; padding: 15px 15px 0; }
.footNote p { padding: 0 0 15px; }

.featured-content .featured-stories { float: left; width: 605px; min-height: 305px; margin: 0 25px 0 0; }
.featured-content .featured-quotes { float: left; width: 310px; height: 305px; }
.donations { overflow: hidden; padding: 8px 0 0 0; margin-top: -8px; }
.area-links .linkcol { width: 290px; margin: 0 25px 0 0; float: left;}
.area-links .linkcol.last { margin: 0; }
.corporate-partners { position: relative; }
.landingLinks, .content ul.landingLinks { list-style: none; margin: 0; padding: 0; overflow: hidden; }
.landingLinks li, .content .landingLinks li { float: left; list-style-position: outside; list-style: none; padding: 0; }
	.ie7 .content ul.landingLinks, .ie7 ul.landingLinks { margin: 0 0 25px; }

/* FOOTER */
#footer-wrap { margin: 40px 0 0; min-width: 960px; background: url(../img/horizontal-patterns-24.png) 0 -246px repeat-x; }
#footer { margin: 0 auto; position: relative; font-size: 11px;  }
#footer-wrap,
#footer { height: 386px; }
#footer .footer-links { width: 918px; height: 254px; padding: 0 1px; margin: 0 20px; list-style: none; background: #e8e8e8; overflow: hidden; line-height: 13px; }
#footer .footer-links li { float: left; width: 138px; padding: 0 0 0 15px; }
#footer .footer-links h4 { margin: 0; text-transform: uppercase; margin: 18px 0 14px; }
#footer .footer-links li ul li { float: none; padding: 0 0 7px 11px; width: auto; background: url(../img/sprite24.png) -260px -137px no-repeat; }
#footer .footer-links li ul { padding: 0; margin: 0; list-style: none; }
#footer .footer-links a { color: #009edf; }
#footer .smedia-form { top: 209px; }
#footer .footer-logo { position: absolute; top: 283px; left: 20px; margin: 0; }
#footer .footer-info { width: 920px; padding: 0 20px; height: 45px; margin: 87px 0 0 0; color: #919090; overflow: hidden; }
#footer .footer-info p { margin: 0; }
#footer .footer-info .description { width: 440px; float: left; }
#footer .footer-info .copyright { width: 440px; float: right; color: #5b5959; padding: 16px 0 0 0; text-align: right; }

/* COLOURS */

	/* PINK (e2136d) */
	/* Side Modules */
	.pink 										{ background-color:#f6b8d3; }
	.pink #header-wrap 							{ background: url(../img/bg_headerPink.png) center top repeat-x; }
	/*.pink .module .button,*/
	/*.pink .module .tag*/
	.module.pink .moduleForm .button,
	.pink .form .button,
	.pink .time-list .button,
	.module.pink .button,
	.module.pink .tag							{ background-color: #e2136d;}
	/*.pink #middle .content h3,*/
	/*.pink .link,*/
	/*.pink .module .bottom p a,*/
	.pink #middle h1,
	.pink #middle h2,
	.pink .form .heading h3,
	.pink .breadcrumbs .parent a,
	.pink .module .moduleNumber,
	.pink .module .modulePhone,
	.pink .content-list h4 a:hover,
	.pink .pagination .page-buttons li a,
	.pink .rate-list dt,
	.pink .content .module p a,
	.pink .research p a,
	.pink .text-styling h3,
	.pink .text-styling p a,
	.module.pink .link,
	.pink #middle h3 a:hover,
	.pink #middle h4 a:hover,
	.module.pink .bottom p a					{ color: #e2136d; }
	/*.pink .module .tag:after					{ background-position: -16px -93px; }*/
	.module.pink .tag:after						{ background-position: -16px -93px; }
	.pink .module.quote .moduleBubble			{ background: url(../img/bg_quotePink.png) 0 -13px no-repeat; }
	.pink .pagination .page-buttons .active a 	{ color: #5b5959; }
	/* Slide Links */
	.pink .slide-link .slide-module 			{ background: #e2136d; }
	.pink .slide-link .slide-module:before 		{ background: #ee71a7; }
	.pink #middle .content .slide-link .slide-module p,
	.pink .slide-link .slide-module p 			{ color: #f9d0e2; }
	.pink .module.pink a.link:hover				{ color: #fff; }
	.pink .content-list a.link:hover,
	.pink .research a.link:hover 				{ text-decoration: none; color: #242222; }

	/* Light */
	.module.light 					{ background: #e8e8e8;}
	.module.light .bottom:before	{ background: #fff;}
	#middle .module.light h3 		{ color: #242222;}
	.light .button-row .lnk a.link,
	.light .link 					{ background-position: -258px -110px; }
	.module.light .button-row .lnk a.link,
	.module.light .link 					{ background-position: -258px -112px; }
	.module.light a.link:hover		{ color: #242222; }

	/* Blue (009edf) */
	.module.blue .moduleForm .button,
	.module.blue .tag 					{ background-color: #009edf;}
	.module.blue .moduleNumber,
	.module.blue .modulePhone			{ color: #009edf; }
	.module.blue .tag:after				{ background-position: -8px -93px; }

	/* ORANGE (f48e00) */
	.orange 							{ background-color: #fcddb2; }
	.orange #middle h1,
	.orange #middle h2 	{color: #f48e00; }
	.module.orange .link,
	.orange .module .link				{ color: #f48e00; }
	.orange .module.quote .moduleBubble	{ background: url(../img/bg_quoteOrange.png) 0 -13px no-repeat; }
	.orange .module .button				{ background-color: #009edf;}
	/* Slide Links */
	.orange .slide-link .slide-module 			{ background: #f48e00; }
	.orange .slide-link .slide-module:before 	{ background: #f8bb66; }
	.orange #middle .content .slide-link .slide-module p,
	.orange .slide-link .slide-module p 		{ color: #fde8cc; }
	.orange .module a.link:hover				{ color: #fff; }

/* Australian Childhood foundation ✰ Modules */
/* Author: Tony Trinh, Nathan Gordon 31.7.12 */

/*  SIDE MODULES
=========================== */

	/* Side Modules (default: dark, orange:f48e00 with blue links) */
	.module 							{ position: relative; width: 290px; background: #242222; }
		.module .tag 					{ display: block; position: absolute; top:-8px; right:-8px; padding: 4px 7px 3px; color:#fff; background: #f48e00; text-transform: uppercase; font-size: 11px; line-height: 9px;}
	 	.module .tag:after				{ content:""; position: absolute; height:8px; width: 8px; right: 0px; top: 16px; background: url(../img/sprite24.png) 0 -93px no-repeat; }
			.module .top img				{ width:290px; }
			.module .top.heading img		{ width: 278px; padding-left:12px; }
			.module.small .top.heading img	{ width: 266px; padding: 0 12px; }
			.top.shop						{ float: right; padding-left: 10px;}
			.top.shop img					{ width: 140px; }
		.module .bottom						{ margin: 0 11px; padding: 17px 0 10px; position: relative; text-align: right; }
			.module .bottom.pad-bot 		{ padding: 17px 0 12px; }
		.module .bottom:before				{ content:""; position: absolute; height:2px; width: 25px; left: -11px; top: 8px; background: #555;}
		.module .bottom.internal			{ padding: 6px 0 7px; }
		.module .bottom.internal:before		{ display: none;}
	 	#middle .module h3, .module h3 		{ padding: 0; color: #fff; margin: 0 0 5px; text-align:left; font-family: 'FuturaStdMediumRegular'; font-weight: normal; }
		.content .module p,
		.module p							{ padding: 0; color: #bbbbbb; margin: 0 0 5px;text-align:left; font-size: 11px; line-height: 15px;}
		.module.light p						{ color: #8f8f8f; }
		.moduleText                         { color: #8f8f8f; font-size: 11px; line-height: 15px; }
		.module .parEnd p:last-of-type		{ margin: 0;}
		.module p a							{ color: #009edf; }
		.module strong						{ color:#bbbbbb; } /* original #666666 */
		.module .bottom img					{ float: left; margin-right: 10px; }
			.module .bottom img.nofloat		{ float: none; margin: 0; }
			#middle .module .bottom .right	{ padding: 0; float: right; margin: 0 0 0 10px; }
		.module .dollars 					{ font-size: 56px; line-height: 46px; font-weight: bold; margin: 0; padding: 0 10px 0 16px; float: left; color: #f48e00; background: url(../img/horizontal-patterns-24.png) 0 -1125px no-repeat; }
			.module .dollar-white 			{ color: #fff; background-position: 0 -1175px; }
			.module .dollar-dgrey 			{ color: #242222; background-position: 0 -1225px; }
		.module .recent						{ padding: 0; margin: 0 0 10px; background: url(../img/bg_dotted-line.png) 0 0 no-repeat; list-style: none;}
		.module .recent	p					{ margin: 0; font-size: 12px;}
		.module .recent span				{ font-size: 14px; }
		.module .recent li					{ padding: 12px 5px; background: url(../img/bg_dotted-line.png) 0 bottom no-repeat;}
		.donorName							{ font-weight: bold; color: #fff; font-size: 13px;}
		.module .parentingProgram			{ padding: 0; margin: 16px 0 10px; background: url(../img/bg_solid-line.gif) 0 1px no-repeat; list-style:none;}
		.module .parentingProgram li		{ padding: 12px 5px 3px; min-height: 56px; background: url(../img/bg_solid-line.gif) 0 bottom no-repeat;}
		.module .parentingProgram span		{ font-size: 15px; font-weight: bold; color:#fff;}
		.module .moduleNumber				{ font-weight: bold; color: #f48e00; }
		.module .modulePhone				{ font-weight: bold; color: #f48e00; font-size: 39px; line-height: 25px;}
		a.link								{ min-width:115px; color: #009edf; font-size: 13px;  font-weight: bold; background: url(../img/sprite24.png) -258px -90px no-repeat; padding-left: 14px; float:left;}
		a.link:hover						{ text-decoration: none; color: #242222; }
		.module a.link:hover				{ text-decoration: none; color: #fff; }
		.bottom.shop						{ padding-bottom: 0; }
		.regularDonor  						{ height: 88px; }
		.textFit p 							{ padding-right: 14px; width:169px; display: inline-block; *display: inline; zoom:1; margin: 0; }
		.module .button 					{ background-color: #f48e00; position: relative; }
		/* unique padding */
		p.text-pad,
		.module.text-pad p					{ margin: 0; padding: 0 0 13px; }
		h3.text-pad,
		p.mini-pad,
		.module.text-pad h3					{ margin: 0; padding: 0 0 8px; }
		.module.search-seminars h3,
		.module.small h3					{ margin: 0 0 8px; }
		.module.small p 					{ margin: 0 0 9px; }
		/* button-row list */
		.button-row,
		.button-row li { padding: 0; margin: 0; list-style: none; height: 24px; display: block; overflow: hidden; }
		.button-row { padding: 3px 0 0; }
		.button-row .lnk { float: left; padding: 3px 0 0; height: 21px; }
		.button-row .btn { float: right; }
		.button-row .lnk a.link { min-width: 0; background-position: -258px -88px; }
		/* flex module TTrinh 14.11.12 */
		.flex-module { overflow: hidden; position: relative; }
		.flex-module h3,
		.flex-module .left-side { float: left; width: 266px; }
		.flex-module .left-side p.last-text { padding-bottom: 7px !important; }
		.flex-module .right-side { float: right; }
		.add-btn .left-side { width: 185px;}
		.add-btn .right-side { width: 72px; }
		.add-btn .right-side .button { width: 72px; padding-left: 0; padding-right: 0; position: absolute; right: 0; bottom: 12px; }
	/* header module stuff */
	#header .borderGap 						{ width: 266px;	border-bottom: 1px solid #5b5959; height: 0; margin: 0 auto; }
		/*.oldie #header .borderGap 		{ margin: 0; }*/
	#header .modulesContainer a.link 		{ float: none; }
	#header .module .bottom					{ margin: 0 12px; width: 266px; padding: 17px 0 10px; position: relative; text-align: right; }
	#header .module .bottom.internal 		{ padding: 9px 0 0; }
	#header .module h3.form-heading			{ margin: 0 0 8px; }
	#header .module .one-line				{ margin: 0 0 25px; }
		.ie7 #header .module .one-line		{ margin: 0 0 15px; }
	/* home page specifics */
	.homepage #header .module 							{ min-height: 248px; }
	.homepage #header .module .top 						{ width: 290px; }
	.homepage #header .module .bottom.internal			{ padding: 6px 0 0; text-align: left; }
	.homepage #header .module h3,
	.homepage #header .supporter p 						{ margin: 0 0 4px; }
	.homepage #header .supporter p.last-text			{ margin: 0; padding: 0 0 7px; }
	.homepage #header .donation p.last-text,
	.donations .module.donation p 						{ width: 182px; margin: 0; padding: 0 0 10px; }
	.homepage #header .donation,
	.donations .donation 								{ position: relative; }
	.homepage #header .donation .button,
	.donations .donation .button 						{ position: absolute; right: 0; bottom: 12px; }
	.homepage #header .donation .bottom 				{ min-height: 86px; }
	.donations .donation 								{ float: right; margin: 0 20px 0 0; height: 88px; padding-bottom: 0; }
	.donations .donation .bottom 						{ text-align: left; padding: 18px 0 0; height: 70px; }

	/* Module form */
	.module .moduleForm 								{ text-align: left; float: left; list-style-type: none; padding: 0; margin: 0; width:266px; }
		.module .moduleForm li							{ width: 100%; }
		.module .moduleForm label						{ font-size: 12px; font-family: helvetica, arial, sans-serif; font-weight:bold; color:#bbb; width: 100%;}
		.module .moduleForm label.error					{ color: red; font-style: italic; }
		.module .moduleForm input.error					{ border: 2px solid #F14C00; padding: 3px 4px; }
		.module .moduleForm input.moduleFirstName		{ width: 115px; }
		.module .moduleForm input.moduleLastName		{ width: 115px; margin: 0 0 12px; }
		.module .moduleForm select.last-input			{ width: 182px; }
		.module .moduleForm select.full-width			{ width: 266px; margin: 0 0 12px; }
		.module .moduleForm.moduleRegister .buttonLi	{ float:right; }
		.module .moduleForm .button	 					{ background-color: #f48e00; margin: 0; top:0; float: right; }
		.module .moduleForm .text-field					{ margin: 0 12px 12px 0; }
		.module .moduleForm .last-input					{ width: 170px; margin: 0; }
			.ie7 .module .moduleForm .last-input		{ float: left; }
			.ie7 .module .moduleForm .last-input		{ margin-top: -1px; }
			/*.ie7 #eventRegistration					{ float: left; }*/
		#eventRegistration,
		.module .moduleForm.moduleRegister				{ width: 268px; }
		#eventRegistration								{ margin: 3px 0 12px; }

	/* Quote bubble */
	.module.quote										{ background: none; position: relative; height: 305px;}
		.module.quote .moduleBubble						{ width: 305px; height:320px; position: absolute; background: url(../img/bg_quoteBlue.png) 0 -13px no-repeat; }
		.module.quote .moduleBubble	.quote				{  }
		.module.quote .moduleBubble	.quoteText			{ width: 220px; height: 123px; position: relative; top: 85px; left: 37px; text-align: center; }
		.module.quote .moduleBubble	.quoteText	span	{ position: absolute; top:50%; left: 0; color: #fff; font-family: 'FuturaStdMediumRegular'; font-size: 20px; font-weight: normal;  line-height: 1.2em; opacity: 0; filter:alpha(opacity=0); }

		.module.quote .moduleBubble	.qualifications,
		.module.quote .moduleBubble	.quoteAuthor		{ text-align: right; width: 218px; position: absolute; top: 215px; color: #000; font-size: 10px; }
		.module.quote .moduleBubble	.quoteAuthor strong	{ color: #000;  text-transform: uppercase; font-family: 'FuturaStdMediumBold'; font-weight: normal; letter-spacing: 1px;}
		.module.quote .moduleBubble	.qualifications		{ top: 235px; font-family: 'FuturaStdMediumRegular'; line-height: 10px; }
			.ie7 .module.quote .moduleBubble .qualifications { line-height: normal; }

		.module.quote p .link,
		.pink .module.quote p .link				{ width: 117px; font-family: 'FuturaStdMediumBold'; font-weight: normal; font-size: 14px; position: absolute; top:241px; left: 82px; color: #fff; opacity: 0.7; filter: alpha(opacity=70); }
		.module.quote .link:hover,
		.pink .module.quote .link:hover			{ opacity: 0.9; filter: alpha(opacity=90); }
		.module.quote .moduleArrows				{ height: 64px; width: 64px; background: url(../img/bg_quoteArrows.png) 0 0 no-repeat; position: absolute; top: 217px; left: 11px; z-index: 4;}
		.module.quote .moduleLeftArrow			{ height: 20px; width: 20px; display: block; position: absolute; top: 23px; left: 9px; background: url(../img/sprite24.png) -74px -91px no-repeat; opacity: 0.7; filter: alpha(opacity=70);}
		.module.quote .moduleLeftArrow:hover	{ opacity: 1; filter: alpha(opacity=100);}
		.module.quote .moduleRightArrow			{ height: 20px; width: 20px; display: block; position: absolute; top: 23px; left: 34px; background: url(../img/sprite24.png) -97px -91px no-repeat; opacity: 0.7; filter: alpha(opacity=70);}
		.module.quote .moduleRightArrow:hover	{ opacity: 1; filter: alpha(opacity=100);}

/*  CONTENT MODULES
=========================== */

	/* SOCIAL MEDIA */
	.smedia-form,
	.smedia-form .smedia,
	.smedia-form .smediaForm,
	.smedia-form .smediaForm .fields { width: 265px; }
	.smedia-form { position: absolute; top: 0; right: 20px; height: 109px; padding: 0 12px 12px 12px; background-color: #000; }
	.smedia-form .smedia { height: 44px; border-bottom: 1px solid #5b5959; }
	.smedia-form .smedia a { text-indent: -9999px; text-decoration: none; height: 44px; display: block; float: left; background: url(../img/sprite24.png) 0 0 no-repeat; }
	.smedia-form .smedia a.facebook { width: 33px; }
	.smedia-form .smedia a.facebook:hover { background-position: 0 -44px; }
	.smedia-form .smedia a.twitter { width: 49px; background-position: -33px 0; }
	.smedia-form .smedia a.twitter:hover { background-position: -33px -44px; }
	.smedia-form .smedia a.youtube { width: 46px; background-position: -82px 0; }
	.smedia-form .smedia a.youtube:hover { background-position: -82px -44px; }
	.smedia-form .smedia a.linkedin { width: 45px; background-position: -127px 0; }
	.smedia-form .smedia a.linkedin:hover { background-position: -127px -44px; }
	.smedia-form .smedia a.slideshare { width: 52px; background-position: -173px 0; }
	.smedia-form .smedia a.slideshare:hover { background-position: -173px -44px; }
	.smedia-form .smedia a.itunes { width: 40px; background-position: -225px 0; }
	.smedia-form .smedia a.itunes:hover { background-position: -225px -44px; }
	.smedia-form .smediaForm { height: 58px; overflow: hidden; padding: 6px 0 0 0; }
	.smedia-form .smediaForm .fields { margin: 5px 0 0 0; height: 24px; }
	.smedia-form .smediaForm input { float: left; }
	.smedia-form .smediaForm label { font: 22px 'FuturaStdMediumRegular'; color: #fff; }
	.smedia-form .smediaForm .text,
	.smedia-form .smediaForm .button { -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
	.smedia-form .smediaForm .text { background: #fff; border: 1px solid #e6e6e6; width: 167px; height: 12px; font-size: 11px; line-height: 1.1em; padding: 5px 6px; color: #919090; }
	.smedia-form .smediaForm .button { width: 72px; height: 24px; margin: 0 0 0 12px; padding: 0; background: #009edf url(../img/horizontal-patterns-24.png) 0 -198px repeat-x; letter-spacing:1px; font: 13px/1em 'FuturaStdMediumBold'; color: #fff; text-transform: uppercase; text-align: center; border: none; }
	.smedia-form .smediaForm input.button:hover { background-position: 0 -222px; }

	/* Register modal */
	.modalWrapper	{ display:none; height: 100%; width: 100%; position: fixed; top: 0; left: 0; z-index: 10000; }
	.modalContainer { position: relative; min-height: 472px; height: 100%;}
	.overlay { background: #fff; position: fixed; top: 0; left: 0;  width: 100%; height: 100%; opacity: 0.9; filter: alpha(opacity=90); z-index: 10001; }
	.module.registerModal { height: 455px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;z-index: 10002; }
	.ie7 .module.registerModal { top: 50%; left: 50%; margin: -228px 0 0 -145px; }
	.module.registerModal h3 {  margin: 3px 0 16px; }
	.module.registerModal .moduleForm label { color:#fff; line-height: 22px; font-size: 13px; }
	.module.registerModal .moduleForm input.field, .module.registerModal .moduleForm textarea { margin-bottom: 12px; border: 1px solid #4c4a4a; }
	.module.registerModal .moduleForm textarea { height: 104px; resize:none;  }
	/*.module.registerModal .moduleForm .link { min-width: 54px; margin: 3px 142px 0 0; }*/
	.module.registerModal .moduleForm input.field,
	.module.registerModal .moduleForm textarea { padding: 4px 5px; width: 254px; color: #fff; background: #555555; /* Old browsers *//* IE9 SVG, needs conditional override of 'filter' to 'none' */background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ5NDk0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzU5NTk1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);background: -moz-linear-gradient(top,  #494949 0%, #595959 99%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494949), color-stop(99%,#595959)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top,  #494949 0%,#595959 99%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top,  #494949 0%,#595959 99%); /* Opera 11.10+ */background: -ms-linear-gradient(top,  #494949 0%,#595959 99%); /* IE10+ */background: linear-gradient(to bottom,  #494949 0%,#595959 99%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#595959',GradientType=0 ); /* IE6-8 */}
	.module.registerModal .moduleForm input.error,
	.module.registerModal .moduleForm textarea.error { border: 2px solid #f14c00; padding: 3px 4px; }
	.module.registerModal .bottom { padding-bottom: 0; width: 266px; margin: 0 12px; }
	.module .moduleForm li .button-row li { width: auto; }

	/* Corporate Partners */
	.linkcol {width: 290px; margin: 0 25px 0 0; float:left; position: relative;}
	.linkcol.last { margin: 0;}
	.corporate-partners h2 {float: left;}
	.corporate-partners h4 {margin: 0 0 10px;}
	.corporate-partners p {margin: 0 0 5px;}
	#partnersCarousel { margin-bottom: 8px; clear: both;}
	#partnersCarousel .carousel-item { background-color: #fff;}
	.corporate-partners .carousel-control { right: 0; bottom: 0;}
	.corporate-partners .linkcol.last { text-align: right;}
	.corporate-partners .button { background-color: #111; margin: 0 0 24px; letter-spacing: 1px; float: right;}
	.corporate-partners .link { background-position: -258px -110px; }

	/* Featured Stories */
	.headlines 					{ background: #e8e8e8; padding: 16px; list-style-type: none; margin: 0; position: relative; overflow: hidden; }
	.headlines section 			{ padding: 0 0 16px; border-bottom: 1px solid #ccc;}
	.homepage .headlines section{ overflow: hidden; }
	.headlines section.only 	{ padding: 0; border: 0 none; }
	.headlines section.last 	{ padding: 16px 0 0; border: 0; }
	.headlines h3 				{ margin: 0 0 7px; font-family: Arial, Helvetica, sans-serif; }
	.featured-stories h4 		{ margin: 0 0 13px; font-family: Arial, Helvetica, sans-serif; }
	.headlines p.date 			{ margin: 0 0 5px; font-size: 11px; line-height: 1.2em; color: #888; position: relative; z-index: 5; }
	.mainArticleImg 			{ float: right; margin-left: 16px; margin-bottom: 5px; height:145px;}
	.mainArticle 				{ margin: 0; color: #666;}
	.subHeadlines 				{ list-style-type: none; padding: 0; margin: 0; }
	.subHeadlines li 			{ float:left; width: 270px; padding-right: 30px;}
	.subHeadlines li.last 		{ width: 273px; padding: 0;}
	.subHeadlines .thumb-img 	{ float:left; margin-right: 16px; }
	.subArticle 				{ padding: 0; margin: 0; line-height: 1.3em; color: #666;}
		.content .headlines	p	{ padding: 0; }

	/* Donations */
	.jcarousel-skin-donationsCarousel 						{ height: 64px; padding: 12px 0; width: 605px; overflow: hidden; list-style-type: none; margin: 0; float: left; background: #222; }
	.jcarousel-skin-donationsCarousel .jcarousel-clip		{ width: 605px; overflow: hidden; }
	#donationsCarousel li 									{ float: left; width: 121px; height: 64px; padding: 0 15px; border-right: 1px solid #333; }
	.jcarousel-skin-donationsCarousel p 					{ color: #999; margin: 0; width: 121px; height: 37px; overflow: hidden; }
	.jcarousel-skin-donationsCarousel .donationNumber 		{ color: #f48e00; font-size: 30px; font-weight: bold; line-height: 32px; }

	/* SLIDE LINKS */
	.slide-link { position: relative; }
	.slide-link,
	.slide-link .module,
	.slide-link .slide-module { display: block; width: 290px;  overflow: hidden; }
	.slide-link:hover { text-decoration: none; }
	.slide-link .module { margin: 0; }
	.slide-link .module .top { width: 290px; height: 163px; }
	.slide-link .module .top:after { content:""; position: absolute; width: 13px; height: 7px; left: 139px; bottom: 70px; background: url(../img/sprite24.png) -252px -200px no-repeat; }
	.slide-link .module .bottom { margin: 0; padding: 16px 15px 0; width: 260px; height: 54px; }
	.slide-link	.module .bottom:before { left: 0; }
	.slide-link	h5 { color: #fff; text-align: left; font: 22px/23px 'FuturaStdMediumRegular'; font-weight: normal; margin: 0; }
	.slide-link .slide-module { position: absolute; left: 0; bottom: -233px; background: #009edf; padding: 37px 15px 0; width: 260px; height: 196px; }
	.slide-link .slide-module:before,
	.slide-link.side .module .top:after { content:""; position: absolute; height: 2px; width: 25px; top: 8px; background: #66c5ec; }
	.slide-link .slide-module:before { left: 0; }
	.content .slide-link .slide-module p,
	.slide-link .slide-module p { margin: 0; padding: 10px 0 0; color: #ccecf9; }

	.slide-link.side .module .top { width: auto; float: left; }
	.slide-link.side .module .top img { width: auto; }
	.slide-link.side .module .bottom { width: auto; overflow: hidden; padding: 20px 12px 0; }
	.slide-link.side .module .bottom:before { display: none; }
	.slide-link.side .module .top:after { right: -25px; background: #5b5959; }
	.slide-link.side .slide-module { top: 0; left: 290px; padding: 20px 15px 0; }
	.slide-link.side h5 { line-height: 25px; }

	.slide-link.small { margin: 0 0 24px; }
	.slide-link.small,
	.slide-link.small .module,
	.slide-link.small .module .top { height: 131px; }
	.slide-link.small .module .bottom,
	.slide-link.small .slide-module { height: 111px; }

	.slide-link.tiny,
	.slide-link.tiny .module,
	.slide-link.tiny .module .top { height: 78px; }
	.slide-link.tiny .module .bottom,
	.slide-link.tiny .slide-module { height: 58px; }
	.slide-link.tiny .slide-module p { padding: 0; }

	.ie7 .slide-link { cursor: pointer; position: relative; }

	/* CONTACT FORM */
	#contactForm .titleResize 				{ width: 74px; }
	#contactForm .firstnameResize 			{ width: 175px; }
	#contactForm .surnameResize 			{ width: 274px; }

	#contactForm input.firstnameResize 		{ width: 163px; }
	#contactForm input.surnameResize 		{ width: 262px; }
	#contactForm input, select, textarea,
	.date-picker input 						{ font-size: 13px; }
	#contactForm .email,
	#contactForm .digits					{ width: 262px; }
	#contactForm .feedback-select			{ width: 274px; }
	.contact-form 							{ overflow: hidden; }
	.contact-form .label-block				{ height: 25px; }
	.contact-form .label-block-sml			{ margin: 3px 0 0; height: 19px; }
	.form.contact-form li 					{ width: 573px; float: left; display: block; padding: 0 0 13px; }
	.form.contact-form li.heading 			{ padding: 0 0 7px; }
	.form.contact-form li.radio-row 		{ padding: 0 0 9px; }
	.form.contact-form li.text-area-row		{ padding: 0 0 16px; }
	.form.contact-form li.btn-row 	 		{ padding: 0; }
	.form.contact-form select 				{ padding: 2px 2px 2px 5px; }
	.form.contact-form label 				{ display: inline; }
	.contact-form .last 					{ float: right; }
	.form .inline.no-margin					{ margin: 0; }
	.form .radio-row label					{ line-height: 1.5; }

	/* SEARCH RESULTS */
	.form input.keywordFull { width: 480px; margin: 0; }
	.form input.keywordMid { width: 333px; margin-right: 16px; padding: 0 5px; height: 22px; }
		.oldie .form input.keywordMid { padding: 3px 5px 0; height: 19px; }
	.form input.keywordHalf { width: 257px; margin-right: 12px; }
	.form input.input-date { height: 20px; padding: 2px 5px 0; width: 82px; background: #fff url(../img/sprite24.png) 74px -192px no-repeat; }
	.form input.input-date.inline { margin-right: 24px; }
	.form select.inline { font-size: 13px; padding: 2px 3px 2px 5px; }
	.form .between { position: absolute; top: 4px; right: 101px; }
	.form .betweenMid { position: absolute; top: 4px; right: 181px; }
	.form .stateResize { width: 94px; margin-right: 16px; }
	.form .categoryResize { width: 324px; margin-right: 16px; }
		.ie7 #dateTo { margin: -1px 0 0; }
	.form .input-row { margin: 0 0 16px; }

	/* Education */
	.seminarsHome .twoColumn { padding: 16px; width: 258px; min-height: 295px; }
	.seminarsHome h3 { font-family: Arial, Helvetica, sans-serif; margin-bottom: 5px; }
	.seminarsHome .twoColumn p { margin: 0;}
	.seminarsHome p.date { margin-bottom: 5px; padding: 0; }
	.seminarsHome p.nopad { padding: 0; }
	.seminarsHome img,
	.threeColumn img {margin-bottom: 10px;}
	#paper	{ width: 260px; height: 236px; text-align: center; position: relative; padding-top: 14px;}
	#paper img { position: absolute; top: 0; left: 0;}
	#paper .act { position: absolute; width: 17px; height: 8px; top: 159px; left: 189px; background: url(../img/img_states.png) no-repeat -189px -159px; }
	#paper .nsw { position: absolute; width: 23px; height: 9px; top: 143px; left: 187px; background: url(../img/img_states.png) no-repeat -187px -143px;}
	#paper .nt { position: absolute; width: 13px; height: 10px; top: 75px; left: 125px; background: url(../img/img_states.png) no-repeat -125px -75px;}
	#paper .qld { position: absolute; width: 18px; height: 10px; top: 97px; left: 186px; background: url(../img/img_states.png) no-repeat -186px -97px;}
	#paper .sa { position: absolute; width: 13px; height: 9px; top: 126px; left: 131px; background: url(../img/img_states.png) no-repeat -131px -126px;}
	#paper .tas { position: absolute; width: 16px; height: 9px; top: 211px; left: 163px; background: url(../img/img_states.png) no-repeat -163px -211px;}
	#paper .vic { position: absolute; width: 16px; height: 9px; top: 175px; left: 173px; background: url(../img/img_states.png) no-repeat -173px -175px;}
	#paper .wa { position: absolute; width: 16px; height: 9px; top: 109px; left: 61px; background: url(../img/img_states.png) no-repeat -61px -109px;}
	.research h3 { padding: 0 0 7px; }
	.research a.link:hover { text-decoration: none; color: #242222; }

	/* Video */
	.addThisContainer { width: 140px; float: right; }

	/* Landing news n media */
	.content .links-list { margin: 0 0 11px; overflow: hidden; }
	.content .links-list li { padding-bottom: 5px; list-style: outside none; }

	/* Generic Content */
	.genericContent 		{ overflow: hidden; }
	.genericContent p 		{ line-height: 21px;}
	.genericImage 			{ padding-right: 25px; }
	.articleInfo 			{ padding: 7px 0 0; }
	.articleInfo p 			{ margin: 0; padding: 0; }
	.genericQuote 			{ width: 140px; float: right; margin: 0 0 16px 16px; background: url(../img/quote-sprite.png) no-repeat -159px top; }
	.genericQuote .inner 	{ padding: 27px 0 16px; background: url(../img/quote-sprite.png) no-repeat left bottom;}
	.genericQuote p 		{ font-size: 17px; line-height: 24px;}

	/* Program Content */
	.programContent h5 { margin: 0 0 7px; font-weight: bold; }
	.content .separate-list { padding: 0; }
	.content .separate-list li { padding: 0 0 15px; }
	.contentModuleContainer { float: left; margin: 4px 25px 10px 0;}

	/* CONTENT LISTS */
	ul.content-list { list-style: none; padding: 0; margin: 0 0 60px; }
	ul.content-list.nomargin { margin: 0; }
	.content-list.top-border { border-top: 1px solid #919090; }
	.content-list,
	.content-list li { list-style-position: outside; list-style: none; overflow: hidden; }
	.content-list > li { border-bottom: 1px solid #f0f0f0; padding: 15px 0 0; }
	.content-list > li.last { border-bottom: 1px solid #919090; }
	.content-list .module { background: none; width: 605px; }
	.content-list .module .top { float: left; padding: 0 12px 20px 0; }
	.content-list .module .top img { width: auto; }
	.content-list .module .bottom { overflow: hidden; padding: 0; margin: 0; }
	.content-list .module .bottom:before { display: none; }
	.content .content-list h4 { margin: 0 0 10px; padding: 0; }
	.content-list h4 a { color: #222222; }
	.content-list h4 a:hover { color: #009EDF; text-decoration: none; }
	.content .content-list .module p { font-size: 12px; line-height: 1.5; color: #5b5959; padding: 0 0 13px; margin: 0; }
	.content .content-list .module p.date { color: #c8c8c8; padding: 0 0 7px; }
		.date span { text-transform: uppercase; color: #919090; }
	.content-list .module .title { text-transform: uppercase; }
	.content-list a.link:hover { text-decoration: none; color: #242222; }

	/* DEFINITION LISTS */
	/* extended content list */
	.time-list { width: 454px; overflow: hidden; text-align: left; border-bottom: 1px solid #f0f0f0; margin: 8px 0 13px; }
		.time-list.full { width: 605px; margin: 0 0 20px; }
	.time-list dt,
	.time-list dd { float: left; padding: 11px 0; margin: 0; border-top: 1px solid #f0f0f0; }
	.time-list dt { font-weight: bold; width: 95px; color: #242222; }
	.time-list dd { color: #3b3939; }
	.time-list .time { width: 279px; }
		.time-list.full .time { width: 150px; }
	.time-list.full .address { width: 265px; padding: 11px 15px 11px 0; }
	.time-list .rego { width: 80px; height: 24px; padding: 8px 0; display: block; }
		.module .time-list .rego .button { top: 0; width: 66px; background-color: #009EDF;}
	.content-list .link { float: none; background-position: -258px -112px; }
	/* rate list */
	.rate-list { color: #5b5959; margin: 0; padding: 0 0 15px; }
	.rate-list dt { color: #009EDF; font-weight: bold; }
	.rate-list dd { margin: 0; }
		.rate-list dd strong { color: #242222; }

	/* PHONE LIST */
	.phone-list { border-bottom: 1px solid #919090; }
	.phone-list .list-sel { overflow: hidden; padding: 0; }
	.content .phone-list .list-sel li { list-style: outside none; float: left; margin: 0 8px 0 0; padding: 0; }
	.phone-list .list-sel .active { color: #5b5959; background-color: #f0f0f0; }
	.phone-list .time-list.full { margin: 0; }
	.phone-list .phone-listing h3 { font-family: 'FuturaStdMediumRegular'; color: #009EDF; padding: 20px 0 13px; }
	.phone-list .time-list { border: none; }

	.phone-list .time-list .first { border-top: 1px solid #919090; }
	.phone-list .time-list dt { font-weight: normal; width: 495px; padding: 11px 15px 11px 0; }
	.phone-list .time-list dd { font-weight: bold; width: 95px; text-align: right; color: #242222; }

	/* CONTENT LIST PAGINATION */
	.pagination { padding: 8px 0 60px; overflow: hidden; }
	.pagination .sort-method,
	.pagination .page-buttons,
	.pagination .page-buttons li { float: left; list-style: none; }
	.pagination .sort-method { width: 139px; margin: 0 12px 0 0; padding: 0; background: none; }
/*		.pagination .sort-method select { margin: 0; line-height: 18px; padding: 2px 5px 3px; width: 139px; height: 24px; background: #fff url(../img/horizontal-patterns-24.png) left -1030px repeat-x; border: 1px solid #e6e6e6; } */
	.pagination .page-buttons { width: 310px; }
		.pagination .page-buttons { list-style: none; }
		.pagination .page-buttons li, .pagination .page-buttons li a
			{ padding: 0; margin: 0 1px 0 0; width: 24px; height: 24px; text-align: center; display: block; }
		.pagination .page-buttons .of { padding: 3px 0 0; height: 21px; color: #5b5959; }
		.pagination .page-buttons li a { font-weight: bold; height: 21px; padding: 3px 0 0; }
		.pagination .page-buttons .active a { cursor: default; font-weight: normal; color: #5b5959; }
		.pagination .page-buttons .active a,
		.pagination .page-buttons li a:hover { background: #e8e8e8; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; text-decoration: none; }
	.pagination .page-control { overflow: hidden; float: right; height: 24px; }
		.pagination .page-control .prev,
		.pagination .page-control .next { float: left; }
		.pagination .page-control .prev { margin: 0 8px 0 0; }
		.pagination .page-control .disabled { background: #e8e8e8; cursor: default; }
	.ie7 .pagination .page-control a { padding: 6px 7px 0; height: 18px; }

/* ==|== visual jazz utility classes ======================================== */
.skip-links {	height:0;	overflow:hidden; }
.print-logo {display: none;}
.left {float: left;}
.right {float: right;}
.clearer { clear: both; height: 0; overflow: hidden; display: block; }
.overflow {overflow:hidden}
.gradient { filter: none; }
.greyBg {background: #e8e8e8;}

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 768px) {}

/* ==|== print styles ======================================================= */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  .print-logo {display: block;}
  body { background: none; background-color: #fff; }
  #header-wrap, #middle .modulesContainer, #footer-wrap { display: none; }
  #middle, #middle .content { width: 100%; margin: 0; padding: 0; float: none; }
}