/*site finty templates styles :: for css cut up only :: DEV to delete when installed*/
.sf_cols { width: 100%; margin: 0; padding: 0 }
.sf_cols:before, .sf_cols:after { content: ""; display: table }
.sf_cols:after { clear: both }
.sf_cols { zoom: 1 }
.sf_colsOut+.sf_colsOut { *margin-left:-1px!important }
.sf_block { display: block }
.sf_1col_1_100 { float: none; margin: 0 }
.sf_2cols_1_25 { float: left; width: 25%; margin: 0 }
.sf_2cols_2_75 { float: right; width: 75%; margin: 0 }
.sf_2cols_2_75 .sf_2cols_2in_75 { margin-left: 12px }
.sf_2cols_1_33 { float: left; width: 33%; margin: 0 }
.sf_2cols_2_67 { float: right; width: 67%; margin: 0 }
.sf_2cols_2_67 .sf_2cols_2in_67 { margin-left: 12px }
.sf_2cols_1_50 { float: left; width: 50%; margin: 0 }
.sf_2cols_2_50 { float: right; width: 50%; margin: 0 }
.sf_2cols_2_50 .sf_2cols_2in_50 { margin-left: 12px }
.sf_2cols_1_67 { float: left; width: 67%; margin: 0 }
.sf_2cols_2_33 { float: right; width: 33%; margin: 0 }
.sf_2cols_2_33 .sf_2cols_2in_33 { margin-left: 12px }
.sf_2cols_1_75 { float: left; width: 75%; margin: 0 }
.sf_2cols_2_25 { float: right; width: 25%; margin: 0 }
.sf_2cols_2_25 .sf_2cols_2in_25 { margin-left: 12px }
.sf_3cols_1_33 { float: left; width: 33%; margin: 0 }
.sf_3cols_2_34 { float: left; width: 34%; margin: 0 }
.sf_3cols_3_33 { float: left; width: 33%; margin: 0; _margin-left: -1px!important }
.sf_3cols_2_34 .sf_3cols_2in_34, .sf_3cols_3_33 .sf_3cols_3in_33 { margin-left: 12px }
.sf_3cols_1_25 { float: left; width: 25%; margin: 0 }
.sf_3cols_2_50 { float: left; width: 50%; margin: 0 }
.sf_3cols_3_25 { float: left; width: 25%; margin: 0; _margin-left: -1px!important }
.sf_3cols_2_50 .sf_3cols_2in_50, .sf_3cols_3_25 .sf_3cols_3in_25 { margin-left: 12px }
.sf_4cols_1_25, .sf_4cols_2_25, .sf_4cols_3_25, .sf_4cols_4_25 { float: left; width: 25%; margin: 0 }
.sf_4cols_4_25 { _margin-left: -1px!important }
.sf_4cols_2_25 .sf_4cols_2in_25, .sf_4cols_3_25 .sf_4cols_3in_25, .sf_4cols_4_25 .sf_4cols_4in_25 { margin-left: 12px }
.sf_5cols_1_20, .sf_5cols_2_20, .sf_5cols_3_20, .sf_5cols_4_20, .sf_5cols_5_20 { float: left; width: 20%; margin: 0 }
.sf_5cols_5_20 { _margin-left: -1px!important }
.sf_5cols_2_20 .sf_5cols_2in_20, .sf_5cols_3_20 .sf_5cols_3in_20, .sf_5cols_4_20 .sf_5cols_4in_20, .sf_5cols_5_20 .sf_5cols_5in_20 { margin-left: 12px }

/*fonts*/
 @font-face { font-family: 'Intro-Regular-Italic';src: url('webfonts/245261_14_0.eot');src: url('webfonts/245261_14_0.eot?#iefix') format('embedded-opentype'),url('webfonts/245261_14_0.woff') format('woff'),url('webfonts/245261_14_0.ttf') format('truetype'); font-weight: normal; font-style: normal; }
 @font-face { font-family: 'Intro-Bold-Italic';src: url('webfonts/245261_8_0.eot');src: url('webfonts/245261_8_0.eot?#iefix') format('embedded-opentype'),url('webfonts/245261_8_0.woff') format('woff'),url('webfonts/245261_8_0.ttf') format('truetype'); font-weight: normal; font-style: normal; }
/*global*/
html, button, input, select, textarea { color: #222; }
body { 	font-size: 1em; line-height: 1.4;
		background: #dfded8 url(../images/bg_paper-bg.jpg) 50% top repeat-x; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
.hidden { display: none!important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
::-moz-selection {
	background:#ee7d0c;
	color:#fff;
	text-shadow:none; }
::selection { background: #ee7d0c; color: #fff; text-shadow: none; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
textarea { resize: vertical; }
p { margin: 0; }
img { display: block; }
.wrap, .wrap-full { width: 940px; margin: 0 auto; }
.wrap-full { width: 960px; }
.padme { margin: 0 10px; }
.pad-extra-right { margin: 0 20px 0 10px; }
h1, h2, h3, h4, h5 { margin: 0; }

/* AddThis fixes */
.atclear { display:none !important; }
.addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m { padding: 0; }

/* clearfix */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom:1; }

/*header*/
header { height: 169px; position: relative; }
	header a { display: block; position: absolute; text-indent: -999em; }
	header .main-logo { top: 22px; left: 0; width: 254px; height: 147px; background: url(../images/sprite24.png) 0 0 no-repeat; }
	header .cci-logo { top: 67px; right: 0; width: 156px; height: 62px; background: url(../images/sprite24.png) 0 -160px no-repeat; }

/*Main Navigation*/
nav { height: 48px; background: url(../images/repeatx.png) 0 0 repeat-x; font: 16px/1.2 'Intro-Regular-Italic'; position:relative; z-index:999; }
ul.navigation, ul.dropdown { padding: 0; margin: 0; }
ul.navigation { height: 40px; float: right; }
ul.navigation ul { display: none; position: absolute; top: 100%; left: 0; }
ul.navigation ul ul, ul.navigation ul ul ul { top: 0; left: 100%; }
ul.navigation li { float: left; display: inline; position: relative; }
ul.navigation ul li { width: 240px; display: block; }
/* Root Menu */
ul.navigation a { float: left; display: block; color: #787766; text-decoration: none; height: 29px; padding: 11px 20px 0; }
/* Root Menu Hover Persistence */
ul.navigation a:hover, ul.navigation li:hover a { background: #acab99; color: #fff; } /* hover state, but not focused colour #acab99 */
/*ul.navigation a:hover {  }*/
/* 2nd Menu */
ul.navigation li:hover li a { float: none; background: #777665; border-top: 1px solid #bbbbb2; height: auto; padding-bottom: 11px; }
/* 2nd Menu Hover Persistence */
ul.navigation li:hover li a:hover, ul.navigation li:hover li:hover a { background: #acab99; }
/* active Menu item */
ul.navigation a.active, ul.navigation a.active:hover, ul.navigation li a.active,
ul.navigation li:hover li a.active, ul.navigation li:hover li a.active:hover  { background: #fa6500; color: #fff; }
ul.navigation li:hover li a.active, ul.navigation li:hover li a.active:hover { border-top: 1px solid #f2ae80; }
/* before arrow */
ul.navigation a.active:before, ul.navigation a.active:hover:before, ul.navigation a:hover:before
	{ content: ''; display: block; width: 11px; height: 11px; background: url(../images/sprite24.png) right 0 no-repeat; position: absolute; bottom: 0; left: -11px; }
ul.navigation a:hover:before { background: url(../images/sprite24.png) right -11px no-repeat; }
ul.navigation li:hover li a:hover:before, ul.navigation li:hover li:hover a:before, ul.navigation li:hover li a.active:before, ul.navigation li:hover li a.active:hover:before
	{ display: none; }
/* Hover Function - Do Not Move */
ul.navigation li:hover ul ul { display: none; }
ul.navigation li:hover ul { display: block; }

/*content*/
.content { margin: 26px auto 0; }
.content a:hover { text-decoration: none; }
	.full-section
		{ margin-bottom: 26px; }
	.mid-section, .heading-box.mid-section
		{ margin-bottom: 17px; }
	#content h3, #content h4
		{ font: 20px/1.2 'Intro-Bold-Italic'; color: #ff6700; padding: 0 0 11px; }
	#content h4 { font: 16px/1.2 'Intro-Regular-Italic'; padding: 0 0 6px; }
	#content h4 span { font: 14px/1.2 Arial, sans-serif; }
	#content p { padding: 0 0 11px; }
	.std-btn { display: inline-block; padding: 7px 14px 0; height: 29px; background: url(../images/repeatx.png) 0 -278px repeat-x; font: 16px/1.2 'Intro-Regular-Italic'; color: #fff; text-decoration: none; margin: 8px 0 0; }
	a.std-btn:hover { background-position: 0 -314px; }
	.left-margin-right, .mid-margin-right { margin-right: 0.5%; }
	.mid-margin-right { width: 33%; }
	.btn-vcenter { margin: 8px 0 15px; }
	.col-left, .col-right { width: 47.5%; float: left; }
	.col-right { float: right; }
	/* home page */
	.home .heading-box.pad-less .bottom { position: relative; padding-bottom: 65px; }
	.home .heading-box .support-btn { position: absolute; left: 12px; bottom: 12px; }
	.home .heading-box .box-carousel { padding-top: 6px; }

/* modules */
	/* global module */
	.box { padding: 22px 22px 8px; font: 12px/1.3 Arial, sans-serif; color: #4f4e3f; background: rgb(211, 210, 201); /* Fall-back for browsers that don't support rgba */ background: rgba(178, 177, 159, .35); }
	.height-align { min-height: 209px; }
	/* colours */
	.white { background: #fff; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.33); }
	.yellow .top,
	.yellow.box-carousel { background: #ff9b0a; }
	.yellow .share a,
	.yellow a.carousel-nav
		{ background-color: #dc7303; }
	.orange .top { background: #ff6700; }
	.orange .share a,
	.orange a.carousel-nav
		{ background-color: #d54702; }
	.orange .support-btn .support-click { background-position: 0 -94px; }
	.red .top { background: #d64201; }
	.red .share a,
	.red a.carousel-nav
		{ background-color: #a03101; }
	.red .support-btn .support-click { background-position: 0 -140px; }
	/* share */
	ul.share { height: 32px; list-style: none; margin: 0; padding: 0; }
		.share li { float: left; margin-right: 7px; height: 32px; }
		.share .share-text { padding-top: 8px; height: 24px; margin-right: 9px; }
		.share .last { margin-right: 0; }
		.share a { text-indent: -999em; width: 32px; height: 32px; display: block; -webkit-transition: all 400ms ease-in-out; -moz-transition: all 400ms ease-in-out; -o-transition: all 400ms ease-in-out; transition: all 400ms ease-in-out; }
		.share a:hover { background-color: #000; }
		.share .twitter { background: #9e9c89 url(../images/sprite24.png) right -50px no-repeat; }
		.share .facebook { background: #9e9c89 url(../images/sprite24.png) right -105px no-repeat; }
		.share .email { background: #9e9c89 url(../images/sprite24.png) right -163px no-repeat; }
		.share .img_twitter, .share .img_facebook, .share .img_email { background: #9e9c89; }
	/* intro module */
	.intro { font: 16px/1.3 'Intro-Regular-Italic'; color: #ff6700; }
		.intro strong { font: 20px/1.3 'Intro-Bold-Italic'; }
		.intro.box { padding: 25px; }
	/* heading box */
	.heading-box { margin: 0 10px; background: rgb(211, 210, 201); /* Fall-back for browsers that don't support rgba */ background: rgba(178, 177, 159, .35); }
		.null-margin { margin: 0; }
		.heading-box h2 { background: #858475; color: #fff; font: 22px/1.1 'Intro-Regular-Italic'; text-transform: uppercase; text-align: center; padding: 10px 20px; margin: 0 -10px 14px; position: relative; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.20); }
		.heading-box h2:before { content: ''; position: absolute; bottom: -10px; left: 0; display: block; width: 10px; height: 10px; background: url(../images/sprite24.png) right -221px no-repeat; }
		.heading-box .top { padding: 15px 0 0; }
		.heading-box .bottom { padding: 8px 22px 6px; font-size: 12px; line-height: 1.3; color: #4f4e3f; position: relative; }
		.heading-box.pad-less .bottom { padding: 18px 12px 12px; }
		.heading-box .bottom p { padding: 0 0 5px; }
		.heading-box .more-link { font-size: 14px; font-style: italic; color: #ff6700; }
		.heading-box.fixed-size { position: relative; min-height: 338px; }
		.heading-box.fixed-size .top, .heading-box.fixed-size .bottom { width: 646px; }
		.heading-box.fixed-size .bottom { width: 602px; }
		.heading-box.fixed-size h2 { margin-right: 0; }
	/* heading box mini */
	#content .hbox-mini h4 { background: #f99b1c; margin: -22px -22px 14px; padding: 9px 22px; font: 18px/1.2 'Intro-Bold-Italic'; color: #fff; position: relative; }
		#content .hbox-mini h4:before { content: ''; display: block; width: 13px; height: 13px; position: absolute; bottom: -13px; left: 0; background: url(../images/sprite24.png) right -490px no-repeat; }
		.hbox-mini ul { list-style: none; margin: 0; color: #f99b1c; font-size: 14px; padding: 0 0 6px; }
		.hbox-mini.box p { line-height: 1.5; }
	/* support button */
	.support-btn { width: 269px; height: 46px; background: #fff; font: 16px/1.1 'Intro-Regular-Italic'; }
		.support-btn .count, .support-btn .support-click
			{ padding: 15px 0 0; width: 78px; height: 31px; text-align: center; float: left; }
		.support-btn .support-click { width: 191px; color: #fff; text-transform: uppercase; background: url(../images/repeatx.png) 0 -48px repeat-x; text-decoration: none; font-size: 14px; padding-top: 16px; height: 30px; position: relative; }
		.support-btn .support-click:hover { background-position: 0 -186px; }
		.support-btn .support-click:before { content: ''; position: absolute; top: 15px; left: 0; display: block; width: 8px; height: 16px; background: url(../images/sprite24.png) right -244px no-repeat; }
	/* box carousel */
	.box-carousel { height: 278px; width: 100%; position: relative; padding-top: 30px; }
		.box-carousel .carousel, .box-carousel .carousel-item { height: 196px; width: 260px; }
		.box-carousel .carousel { margin: 0 auto; }
		.box-carousel .carousel-control, .box-carousel ul.share { position: absolute; top: 0; left: 0; }
		.box-carousel ul.share { top: auto; bottom: 25px; left: 50%; margin-left: -55px; }
		.box-carousel .carousel-nav { display: block; width: 32px; height: 32px; position: absolute; bottom: 25px; text-indent: -999em; -webkit-transition: all 400ms ease-in-out; -moz-transition: all 400ms ease-in-out; -o-transition: all 400ms ease-in-out; transition: all 400ms ease-in-out; }
		.box-carousel .left-arrow { background: #9e9c89 url(../images/sprite24.png) right -361px no-repeat; left: 0; }
		.box-carousel .right-arrow { background: #9e9c89 url(../images/sprite24.png) right -296px no-repeat; right: 0; }
		.box-carousel a.carousel-nav:hover { background-color: #000; }
		.fixed-size .box-carousel { width: 278px; position: absolute; top: 15px; right: 16px; }
	/* involvement list */
	ul.involvement-list { list-style: none; margin: 0; padding: 0; float: left; }
		ul.involvement-list, ul.involvement-list li, ul.involvement-list a
			{ width: 100%; }
		ul.involvement-list li { height: 53px; float: left; margin: 0 0 9px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); }
		ul.involvement-list li:last-child { margin: 0; }
		ul.involvement-list a { display: block; padding: 17px 0 0; height: 36px; background: url(../images/sprite24.png) 0 -250px no-repeat; font: 15px/1.2 'Intro-Regular-Italic'; color: #fff; text-decoration: none; text-indent: 70px; }
		ul.involvement-list .nominate { background-position: 0 -303px; }
		ul.involvement-list .twitter { background-position: 0 -356px; }
		ul.involvement-list .youtube { background-position: 0 -409px; }
		ul.involvement-list a.write:hover { background-position: 0 -462px; }
		ul.involvement-list a.nominate:hover { background-position: 0 -515px; }
		ul.involvement-list a.twitter:hover { background-position: 0 -568px; }
		ul.involvement-list a.youtube:hover { background-position: 0 -621px; }
		/* get involved page modules */
			.involve-box { background:none; }
			.involve-box .top { padding-top:0; }
			.involve-box .top h2 { width:50px; float:left; padding:2px 0; font: 38px/1.1 'Intro-Bold-Italic'; margin-bottom:0; bottom:-5px; z-index:9999; }
			.involve-box .top h3 { float:left; margin:14px 0 0 30px; }
			.involve-box .bottom { padding:20px 30px; background: rgb(211, 210, 201); /* Fall-back for browsers that don't support rgba */ background: rgba(178, 177, 159, .35); }
			.involve-box .involve-tile { width:269px; float:left; margin-left:36px; text-align:center; font: 18px/1.1 'Intro-Regular-Italic'; color:#747362; text-transform:uppercase; }
			.involve-box .involve-tile:first-child { margin-left:0; }
			.email-btn { font-size:16px; color:#FFFFFF; text-decoration:none; text-align:center; padding:10px 20px; width:229px; display:block; font-weight:normal; }
			a.email-btn:hover { background:url(../images/repeatx.png) 0 -527px repeat-x; }
			.yellow .email-btn { background:url(../images/repeatx.png) 0 -350px repeat-x; }
			.orange .email-btn { background:url(../images/repeatx.png) 0 -409px repeat-x; }
			.red .email-btn { background:url(../images/repeatx.png) 0 -468px repeat-x; }
			.involve-box .nominated-intro { float:left; width:470px; margin:10px 40px 0 0; font-size:14px; line-height:20px; padding-bottom:0 !important; }
			.involve-box .involvement-list { width:288px; float:left; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.33); }
			/* custom scroll module */
			.scroll-box { font-size:14px; color:#4f4e3f; margin:0 10px; }
			.scroll-box .bottom { padding:10px 10px 10px 30px; background:#FFFFFF; }
			.social-statistics { list-style:none; margin:0; padding:0; }
			.social-statistics > li { width:100%; overflow:hidden; border-bottom:1px solid #d7d7cd; padding:10px 0; }
			.social-statistics > li > span { float:left; display:block; margin-top:10px; width:690px; }
			.social-statistics > li > .share { float:right; }
			#scrollbar-involve { width:900px; }
			#scrollbar-involve .viewport { height: 270px; overflow: hidden; position: relative; }
			#scrollbar-involve .overview { position: absolute; left: 0; top: 0; padding: 0; margin: 0; width:870px; }
			#scrollbar-involve .scrollbar{ background:#999999; position: relative; background-position: 0 0; float: right; width: 9px; }
			#scrollbar-involve .track { background:#dedede; height: 100%; width:9px; position: relative; }
			#scrollbar-involve .thumb { background:#999999; height: 20px; width: 9px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left:0; }
			#scrollbar-involve .disable { display: none; }
			.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
		/* policies page modules */
			.policies-module-intro { width:255px; float:left; }
			.policies-module-support { width:625px; float:right; }
			.policies-module-support ul { list-style:none; margin:0; padding:0; }		
			.policies-module-support > ul > li { border-bottom:1px solid #ffffff; padding-bottom:10px; margin-bottom:10px; }
			.policies-module-support li li { float:left; display:block; margin-left:20px; line-height:12px; }
			.policies-module-support li a:hover span { text-decoration:underline; cursor:pointer; }
			.policies-module-support li a:hover { background-position: 0 -186px;}
			.policies-module-support .logo-party { width:95px; margin:5px 0 0 0; overflow:hidden; display:block; }
				.policies-module-support .logo-party img { float:right; }
			.policies-module-support .policy-party { width:95px; margin:5px 0 0 20px; }
				.policies-module-support .policy-party a { font-size:10px; color:#4f4e3f; text-decoration:none; font-weight:bold; }
				.policies-module-support .policy-party a span { float:left; display:block; width:45px; margin-left:10px; font-weight:bold; }
				.policies-module-support .policy-party a span:first-child { background:url(../images/sprite24.png) -975px -407px; width:24px; height:37px; }
			.policies-module-support .support-party-button { width:175px; }
				.policies-module-support .support-party-button a { height:31px; width:175px; background:url(../images/repeatx.png) 0 -48px repeat-x; display:block; padding-top:15px; text-align:center; font:15px/1.1 'Intro-Regular-Italic'; color:#FFFFFF; text-transform:uppercase; text-decoration:none; }
				.orange.support-party-button a { background:url(../images/repeatx.png) 0 -94px repeat-x; }
				.red.support-party-button a { background:url(../images/repeatx.png) 0 -140px repeat-x; }	
			.support-bar-percentage { background:#c6c6b9; width:200px; height:46px; position:relative; }
				.support-bar-percentage div { background:url(../images/repeatx.png) repeat-x 0 -232px; height:46px; }
				.support-bar-percentage span { color:#4f4e3f; font-size:12px; margin:18px 0 0 0; display:block; font-weight:bold; text-align:center; width:200px; position:absolute; left:0; top:0; }
		/* why page modules */
			.width-adjust { width:49.5%; }
			.video-content { padding:20px 20px 10px 20px; background:#FFFFFF; font-size:12px; color:#4f4e3f; margin-top:15px; }
				.video-content p { line-height:18px; }	
			.testimonial {font: 28px/1.1 'Intro-Regular-Italic'; line-height:34px; color:#f86400; margin-top:90px; }
			.ceo-content { background: rgb(211, 210, 201); /* Fall-back for browsers that don't support rgba */ background: rgba(178, 177, 159, .35); margin-bottom:5px; position:relative; font-size:12px; color:#4f4e3f; padding:20px 30px; }
				.ceo-quote { width:100%; background:url(../images/sprite24.png) 0 -712px no-repeat; height:134px; position:absolute; left:0; top:0; }
				.ceo-quote h2 { font: 22px/1.1 'Intro-Regular-Italic'; color:#FFFFFF; margin:45px 0 0 145px; }
			.ceo-intro { padding:125px 30px 10px 30px; }
			.ceo-content .highlight-ceo-content { color:#ff6700; padding-top:10px !important; }
			.follow-ceo-twitter span { background:url(../images/sprite24.png) -989px -454px no-repeat; width:11px; height:15px; display:block; float:left; margin-right:8px; }
			.follow-ceo-twitter a { color:#ff6700; float:left; }
			.contact-form textarea, .contact-form input { resize:none; border:none; padding:5px 0 5px 10px; background:#FFFFFF; }
			.contact-form textarea { width:553px; height:50px; margin:0; float:right; }
			.contact-form input { width:458px; }
			.contact-form label { float:left; width:95px; display:block; margin-top:6px; }
			.contact-form p { padding:0 0 5px 0 !important; }
			.contact-form .add-comment { float:right; color:#ff6700; margin-top:8px; }
			.ceo-article { padding:10px 30px; }
			.ceo-article a { color:#ff6700; text-decoration:none; }
			.ceo-article .highlight-ceo-content { color:#ff6700; padding:15px 0 5px 0 !important; }

/* footer */
footer { position: relative; height: 85px; }
	footer, footer a { font: 12px/1.4 Arial, sans-serif; color: #858475; }
	footer a { padding: 0 3px; }
	footer a:hover { text-decoration: none; }
	footer .nav { margin-left: -3px; padding: 0 0 14px; }
	footer .share { position: absolute; top: 0; right: 0; }
	footer .share a { padding: 0; }

/*vivid sharepoint templates*/
.sf_2cols_1_vivL1 { float: none; width: 100%; }
.sf_2cols_2_vivA1 { margin-left: 0; }
.sf_2cols_1_vivA2 { margin-right: 0; }
.sf_2cols_2_vivR2 { float: none; width: 100%; }
.sf_3cols_1_vivL3 { float: none; width: 100%; }
.sf_3cols_2_vivA3 { margin-right: 0; margin-left: 0; }
.sf_3cols_3_vivR3 { float: none; width: 100%; }
/*vivid badge*/
.vivid { height: 15px; float: right; }
.vivid a { display: block; height: 15px; white-space: nowrap; text-decoration: none; }
.vivid a span.vividText { display: inline-block; width: 0; height: 15px; white-space: nowrap; overflow: hidden; font: 9px/15px Arial; text-transform: uppercase; color: #666; vertical-align: middle; /*css3 transition*/ -webkit-transition: all 400ms ease-in-out; -moz-transition: all 400ms ease-in-out; -o-transition: all 400ms ease-in-out; transition: all 400ms ease-in-out; }
.vivid a:hover span.vividText { width: 130px; }
.vivid a span.vividLogo { display: inline-block; width: 83px; height: 15px; text-indent: -99999px; background: url(../images/vividGroup.png) no-repeat 0 0; vertical-align: middle; margin: 0 0 0 4px; /*css3 transition*/ -webkit-transition: all 400ms ease-in-out; -moz-transition: all 400ms ease-in-out; -o-transition: all 400ms ease-in-out; transition: all 400ms ease-in-out; }
.vivid a:hover span.vividLogo { background: url(../images/vividGroup.png) no-repeat 0 0; width: 83px; }
/*media queries*/
@media only screen and (min-width:320px) {
/* Style adjustments for viewports that meet the condition */
/*vivid sharepoint templates*/
.sf_2cols_1_vivL1 { float: left; width: 5em; margin: 0; }
.sf_2cols_2_vivA1 { margin-left: 5em; }
.sf_2cols_1_vivA2 { margin-right: 5em; }
.sf_2cols_2_vivR2 { float: right; width: 5em; margin: 0; }
.sf_3cols_1_vivL3 { float: left; width: 5em; margin: 0; }
.sf_3cols_2_vivA3 { margin-right: 5em; margin-left: 5em; }
.sf_3cols_3_vivR3 { float: right; width: 5em; margin: 0; }
}
 @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
/* Style adjustments for high resolution devices */
}
/*print styles*/
@media print {
* { background: transparent !important; color: #000 !important; /* Black prints faster: h5bp.com/s */ box-shadow: none !important; text-shadow: none !important; }
a, a:visited { text-decoration: underline; }
a[href]:after { content: " (" attr(href) ")"; }
abbr[title]:after { content: " (" attr(title) ")"; }
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
thead { display: table-header-group; /* h5bp.com/t */ }
tr, img { page-break-inside: avoid; }
img { max-width: 100% !important; }
 @page {
 margin: 0.5cm;
}
p, h2, h3 { orphans: 3; widows: 3; }
h2, h3 { page-break-after: avoid; }
}
