/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: TTrinh, 18.1.13
   ========================================================================== */

body, html { overflow:hidden; height:100%; }
.wrapper { height:100%; width:100%; overflow:auto; }
.container { width:100%; }
#viewport-width { position: fixed; top: 0; right: 0; background: #fff; font-size: 20px; z-index: 999; padding: 0 3px; }
img { display: block; width: 100%; height: auto; }
.slide { height: 100%; width: 100%; position: absolute; top: 0; left: 0; }

#btn-slide { z-index: 2; background: #7e40c9 url(../img/bg-logo.jpg) right bottom no-repeat; overflow: hidden; }
	.heading { display: table; width: 100%; height: 35%; }
	.button { height: 65%; }
	h1 { margin: 0; display: table-cell; vertical-align: middle; }
	h1 img { max-width: 497px; margin: 0 auto; width: 90%; }
	#joy-btn { display: block; max-width: 251px; margin: 0 auto; }
	#joy-btn img { width: auto; max-width: 100%; max-height: 100%; margin: 0 auto; }
	#joy-btn:hover { opacity: 0.75; }

#vid-slide { margin: 0 auto; width: 70%; }
	#vid-slide.vertical-viewport { width: 90%; }
	.btn-block { height: 60px; }
	#video-block { position: relative; width: 100%; padding-bottom: 56.25%; height: 0; }
	#video-block iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
	.social-media { margin: 0 auto; padding-top: 10px; }
	#back-btn { text-decoration: none; padding: 0 35px 0 15px; height: 60px; line-height: 55px; display: inline-block; color: #fff; font-weight: bold; background: #7e40c9 url(../img/bg-arrow.png) 102px 26px no-repeat; font-size: 32px;
		-webkit-transition: all 400ms ease-in-out;
		-moz-transition: all 400ms ease-in-out;
		-o-transition: all 400ms ease-in-out;
		transition: all 400ms ease-in-out; }
	#back-btn:hover { opacity: 0.5; }

#cover-slide { background: #7e40c9; z-index: 1; }

.animateDown {
  -webkit-transition: top 500ms cubic-bezier(0.000, 0.000, 0.000, 1.000); 
     -moz-transition: top 500ms cubic-bezier(0.000, 0.000, 0.000, 1.000); 
      -ms-transition: top 500ms cubic-bezier(0.000, 0.000, 0.000, 1.000); 
       -o-transition: top 500ms cubic-bezier(0.000, 0.000, 0.000, 1.000); 
          transition: top 500ms cubic-bezier(0.000, 0.000, 0.000, 1.000); /* ease-out */
}
.animateUp { 
  -webkit-transition: top 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
     -moz-transition: top 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
      -ms-transition: top 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
       -o-transition: top 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
          transition: top 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000); /* ease-in */
}
.animateBack {
-webkit-transition: all 1000ms cubic-bezier(0.420, 0.000, 0.000, 1.000); 
   -moz-transition: all 1000ms cubic-bezier(0.420, 0.000, 0.000, 1.000); 
    -ms-transition: all 1000ms cubic-bezier(0.420, 0.000, 0.000, 1.000); 
     -o-transition: all 1000ms cubic-bezier(0.420, 0.000, 0.000, 1.000); 
        transition: all 1000ms cubic-bezier(0.420, 0.000, 0.000, 1.000); /* custom */
}
   
/* ==|== visual jazz utility classes ======================================== */
.skip-links { height:0; overflow:hidden; }
.print-logo {display: none;}    
.left {float: left;}
.right {float: right;}
.clearer {clear: both;}
.overflow {overflow:hidden}

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (max-width: 480px) {
	/*#back-btn { padding: 8px; }*/
	#back-btn { width: 80px; height: 60px; padding: 0; text-indent: -999em; background-position: center 26px; }
}

@media only screen and (min-width: 480px) {
	/*#video-block { width: 70%; }*/
	/*.social-media { max-width: 70%; }*/
}

@media only screen and (max-width: 720px) {
	#joy-btn { width: 160px; }
	/*#back-btn { font-size: 18px; }*/
}

@media only screen and (min-width: 721px) {
	/*#back-btn { font-size: 32px; }*/
}

/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  .print-logo {display: block;}   
}