/* HTML5 ✰ Boilerplate
   ==|== primary styles =====================================================
   Author: TTrinh, 30.11.12
   ========================================================================== */

/*
    Notes:
    0. Please search 'attention' to find all bits of code that may require attention as you're building on top of this template
    1. Video dimensions & ratio may require changing, especially .video-container padding-bottom: 53% (ratio)
    2. Images dimensions may also require changing
    3. Misc padding/margin may need to be tweaked depending on the dimensions of your elements
    4. Quick gallery images MUST have width of 220px - all the margins/total widths at diff responsive breakpoints are set to work with this width. Height must also be defined for images, thumbnail heights will work best when they're the same
    5. Depending on the amount of content, some padding/margins may need to be adjusted (search: 'attention (5)')
*/

/* global */
html { overflow-x: hidden; }
body, li { font-size: 15px; line-height: 23px; }
#viewport-width { position: fixed; top: 0; right: 0; background: #fff; font-size: 20px; z-index: 999; padding: 0 3px; }
.big-section { margin-bottom: 40px; }
.med-section { margin-bottom: 30px; }
.section { margin-bottom: 20px; }
.mid-section { margin-bottom: 10px; }
.oldie .section { margin-bottom: 40px; }
img { display: block; }
h2, h3, .nav a { font-family: 'Oswald', sans-serif; text-transform: uppercase; line-height: 1.2; font-weight: 700; }
h2 { background: #231f20; color: #fff; float: left; padding: 5px 10px; font-size: 48px; margin: 0 0 40px; }
h3, #brief h2 { font-size: 20px; color: #000; margin: 0; line-height: 1.4; padding-bottom: 60px; }

/* IE fixes */
.ie7 #header { margin-bottom: 10px; }
.ie7 #challenge  { margin-bottom: 40px; }
.ie7 #gallery  { margin-bottom: 20px; }
.ie7 .box-stack { padding-bottom: 20px; float: none; overflow: hidden; }

.oldie .nav { width: 350px; }
.oldie .video-container { /* attention (1) */ width: 653px; height: 369px; padding-bottom: 0; background: #231f20; filter:alpha(opacity=25); /* For IE8 and earlier */ }
.oldie #overview .bg-container { overflow: visible; width: 653px; position: relative; margin: 0 auto; }
.oldie #overview .blocks1, #overview .blocks2 { opacity: 1; display: block; position: absolute; }
.oldie #overview .blocks1 { left: -444px; top: -17px;}
.oldie #overview .blocks2 { right: -439px; top: -66px;}
.oldie #quick-gallery li { width: 143px; margin-right: 16px; margin-bottom: 20px; }
.oldie .box-stack .span33 { width: 32%; float: left; margin: 0 2% 0 0; }
.oldie #results .span25 { width: 230px; margin-right: 6px; }
.oldie #quick-gallery .last,
.oldie .box-stack .last,
.oldie #results .res-img-4 { margin-right: 0; }
.oldie #results .box-stack { margin: 0 0 50px; }
.oldie #solution .info-col img { margin-left: 0; margin-right: 0; padding-bottom: 35px; }
.oldie #solution .info-col .img-apple { padding-bottom: 24px; }
.oldie #solution .info-col h3 { margin-bottom: 25px; }

/* structure */
.box-stack { margin: 0; list-style: none; overflow: hidden; }
.span12 { overflow: hidden; }
.span33, .span25 { float: left; }
.last { margin-right: 0; }
.bg-div { margin: 0 -20px; padding: 0 20px; }
.oldie .bg-div { margin: 0; padding: 0; }
   
/* header */
#header .span8 { overflow: hidden; }
    .logo { display: block; padding: 10px 0 5px; margin: 0 auto; max-width: 310px; max-height: 151px; }
    .nav { width: 310px; margin: 0 auto; overflow: hidden; }
    .nav a { width: 33%; height: 25px; padding-top: 8px; color: #231f20; font-weight: 700; float: left; text-align: center;
                -webkit-transition: background-color 1s linear;
                -moz-transition: background-color 1s linear;
                -o-transition: background-color 1s linear;
                -ms-transition: background-color 1s linear;
                transition: background-color 1s linear; }
    .nav > li > a:hover { background-color: #ffdf31; }

/* overview */
.overview-bg { background: #60aadc; }
    .video-container { position: relative; /* attention (1) 16:9 */ padding-bottom: 55%; width: 95%; height: 0; margin: 30px auto 0; background: rgba(35, 31, 32, 0.25); }
    .video-container iframe { position: absolute; top: 1.75%; left: 1%; width: 98%; height: 96.5%; /* attention (1) */ }
    #overview .span12 { overflow: visible; }
    #overview .bg-container { overflow: hidden; height: 0; }
    #overview .blocks1, #overview .blocks2 { opacity: 0;
        -webkit-transition: opacity 1s linear;
        -moz-transition: opacity 1s linear;
        -o-transition: opacity 1s linear;
        -ms-transition: opacity 1s linear;
        transition: opacity 1s linear; }

/* brief */
.mid-bg { background: #e7e7e7; }
    #brief h2, #brief p { width: 100%; margin: 0; color: #231f20; text-align: center; }
    #brief h2 { padding: 30px 0 15px; float: none; background: none; }
    #brief p { font-size: 15px; line-height: 23px; padding-bottom: 35px; }
    .border-bot { border-bottom: 1px solid #c0bfbf; }

/* gallery */
#quick-gallery { overflow: hidden; margin-bottom: 25px; padding: 0; }
    #quick-gallery li { position: relative; list-style: none; float: left; max-width: 143px; }
    #quick-gallery .thumbOver { position: absolute; opacity: 0; filter: alpha(opacity=0); }
    #quick-gallery .last { margin-right: 0; }

/* challenge */
#challenge .challenge-img { margin: 0 auto; width: 100%; height: auto; /* attention (2) */ max-width: 519px; max-height: 440px; }
    .box-stack .span33 { float: none; width: 100%; margin-left: 0; margin-right: 0; }
    .num-list { margin-bottom: 30px; }
    .num-list p { min-height: 35px; padding: 0 0 0 50px; background-position: top left; background-repeat: no-repeat; }
    .num-list .point-1 { background-image: url(../img/sub-one.png); }
    .num-list .point-2 { background-image: url(../img/sub-two.png); }
    .num-list .point-3 { background-image: url(../img/sub-three.png); }

/* solution */
.solution-bg { background: #fff249; }
    #solution { padding-top: 40px; }
    #solution .info-col img { padding-bottom: 15px; max-width: 296px; width: 100%; margin-left: auto; margin-right: auto; }
    #solution .info-col .img-apple { padding-bottom: 15px; }
    #solution .info-col h3 { margin-bottom: 10px; padding: 0 5px; background: #231f20; display: inline-block; color: #fff; font-size: 25px; font-weight: 400; }
    #solution .span33 { margin-bottom: 50px; }

/* results */
.result-bg { background: #eb4444; }
    #results { padding-top: 40px; }
    #results .span12 { overflow: hidden; }
    #results .info-col img, #results .span25 { width: 230px; }
    #results .span25 { margin: 0 0 10px; }

/* ==|== media queries ====================================================== */

@media only screen and (max-width: 480px) {
    .logo { width: 100%; height: auto; }
    .nav { width:100%; }
    .nav a { width: 33%; height: 23px; padding-top: 10px; font-size: 13px; }
    .span33 { width: 70%; float: none; margin: 0 auto 15px; }
    .box-stack .last { margin-right: auto; }
    h2 { font-size: 36px; }
    #quick-gallery li { margin-bottom: 10px; }
}

@media only screen and (min-width: 481px) {
    .box-stack .span33 { width: 80%; margin-left: auto; margin-right: auto; }
    #quick-gallery li { margin-bottom: 20px; }
}

@media only screen and (max-width: 512px) {
    #results .box-stack { width: 230px; margin: 0 auto 50px; }
    #quick-gallery li { width: 30.5%; margin-right: 4.25%; }
    #quick-gallery .third { margin-right: 0; }
}

@media only screen and (min-width: 513px) {
    #results .box-stack { width: 470px; margin: 0 auto 50px; }
    #results .res-img-1, #results .res-img-3 { margin-right: 10px; }
    #quick-gallery li {width: 15%; margin-right: 2%; }
}

@media only screen and (min-width: 768px) {
    .bg-div { margin: 0; padding: 0; }
    #overview.big-section { margin-bottom: 20px; }
    #solution { padding-bottom: 20px; }
    .video-container { padding-bottom: 0; /* attention (1) */ width: 653px; height: 371px; }
    .video-container iframe { position: absolute; top: 5px; left: 5px; width: 643px; height: 361px; /* attention (1) */ }
    #overview .bg-container { overflow: visible; height: auto; }
    #overview .blocks1, #overview .blocks2 { opacity: 1; display: block; position: absolute; }
    #overview .bg-container { position: relative; width: 653px; margin: 0 auto; }
    #overview .blocks1 { left: -444px; top: -15px;}
    #overview .blocks2 { right: -439px; top: -64px;}
    #brief h2, #brief p { width: 640px; margin: 0 auto; }
    .box-stack .span33 { width: 32%; float: left; margin: 0 2% 20px 0; }
    .box-stack .last { margin-right: 0; }
    #solution .span33 { margin-bottom: 20px; }
    #results .box-stack { width: 100%; margin: 0 0 50px; }
    #results .info-col img { max-width: 230px; width: 100%; }
    #results .span25 { width: 24%; margin-right: 1.33%; }
    #results .res-img-4 { margin-right: 0; }
    .num-list { margin-bottom: 10px; }
    #solution .info-col img {  margin-left: 0; margin-right: 0; padding-bottom: 35px; }
    #solution .info-col .img-apple { padding-bottom: 24px; }
    #solution .info-col h3 { margin-bottom: 25px; }
}

@media only screen and (min-width: 980px) {
    #overview.big-section { margin-bottom: 40px; }
    #quick-gallery li { margin-right: 16px; width: 143px; }
}

@media only screen and (min-width: 1200px) {
    #results .info-col img { margin: 0 auto; }
    #quick-gallery li { margin-right: 62px; }
}