/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 12px; line-height: 1.5; }
body, button, input, select, textarea { font-family: Arial, sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 0; border: 0; border: none; border-bottom: 2px solid #333; margin: 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
iframe { border: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* ==|== primary styles =====================================================
   Author: Tony Trinh, 30.7.12
   ========================================================================== */

/*  Fonts
=========================== */
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on August 27, 2013 */
@font-face {
    font-family: 'allerregular';
    src: url('/builds/acf_kidscount-website/fonts/aller_rg-webfont.eot');
    src: url('/builds/acf_kidscount-website/fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('/builds/acf_kidscount-website/fonts/aller_rg-webfont.woff') format('woff'),
         url('/builds/acf_kidscount-website/fonts/aller_rg-webfont.ttf') format('truetype'),
         url('/builds/acf_kidscount-website/fonts/aller_rg-webfont.svg#allerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'allerbold';
    src: url('/builds/acf_kidscount-website/fonts/aller_bd-webfont.eot');
    src: url('/builds/acf_kidscount-website/fonts/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('/builds/acf_kidscount-website/fonts/aller_bd-webfont.woff') format('woff'),
         url('/builds/acf_kidscount-website/fonts/aller_bd-webfont.ttf') format('truetype'),
         url('/builds/acf_kidscount-website/fonts/aller_bd-webfont.svg#allerbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*  Global
=========================== */
body { background: #f6fbfe url(/builds/acf_kidscount-website/img/bg-pattern.png) top center repeat-y; }
#header-wrap, #middle-wrap, #footer-wrap { width: 100%; }
#header, #middle, #footer { width: 960px; margin: 0 auto; }
ul#top, #mini-nav, #big-nav, .nopom
	{ list-style: none; padding: 0; margin: 0; }
input:focus, select:focus, textarea:focus { outline-color: #0097cf; }

h1, h2, h3, h4, h5, p { font-weight: normal; line-height: 1.2; margin: 0; }
h1, h2 { font-family: 'allerregular'; }
h1 { font-size: 29px; }
h2 { font-size: 29px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 15px; }
a {text-decoration: none; color: #007fae;}
a:hover { text-decoration: underline; }
img { display: block; }
p { line-height: 1.5; }

/*  Structural
=========================== */
.section-15 { margin-bottom: 15px; overflow: hidden; }
.section-25 { margin-bottom: 25px; overflow: hidden; }
.section-40 { margin-bottom: 40px; overflow: hidden; }
.section-50 { margin-bottom: 50px; overflow: hidden; }
.section-60 { margin-bottom: 60px; overflow: hidden; }
.section-80 { margin-bottom: 80px; overflow: hidden; }

.col2 { width: 605px; }
.col2-left { width: 605px; float: left; }
.col2-right { width: 310px; float: right; }
.col3 { width:290px; margin-right: 25px; float:left; }
.col3.last { margin-right: 0; }

/*  Buttons
=========================== */
.button { 
	width: auto;
	min-height: 24px; 
	margin: 0; 
	padding: 0 13px; 
	background: #f8981d; 
	font: 13px/1em 'allerbold'; 
	color: #000; 
	text-transform: uppercase; 
	letter-spacing: 1px;
	text-align: center; 
	border: none; 
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px;
	 border-radius: 2px; }
a.button { display: block; padding: 6px 7px 5px; min-height: 13px; background-color: #f8981d; color:#000; }
.button:hover,
a.button:hover { background: #fdb85d; text-decoration: none; }
a.button.headingButton { float: right; margin-top: 2px; }
.ie7 input.button { line-height: 21px; }

/*  Header
=========================== */
#header-wrap { background: url(/builds/acf_kidscount-website/img/bg_headerHome.png) center -448px repeat-x; min-width: 960px; position: relative; overflow: hidden; }
#header { position: relative; padding: 44px 0 0 0; }
#header .modulesContainer { width: 290px; float:right; }
.home-bubble-bg { position: absolute; top: 259px; left: 50%; margin-left: -621px; }
.no-js #print-btn { display: none; }
#print-btn { position: absolute; bottom: 0; right: 20px; display: inline-block; background: #007fae; color: #fff; }
#print-btn:hover { background: #409fc2; }
/* top mini nav */
	#mini-nav { position: absolute; top: 0; left: 20px; padding: 11px 16px 0 0; height: 29px; overflow: hidden; }
	#mini-nav li { float: left; font-size: 11px; }
	#mini-nav a { text-decoration: none; color: #000; border-right: 1px solid #000; padding: 0 10px 0 0; margin: 0 10px 0 0; }
	#mini-nav .last { border-right: none; margin: 0; padding: 0; }
	#mini-nav a:hover { text-decoration: underline; }
/* logo */
	#header h1 { width: 481px; padding-left: 20px; }
	#header .logo { display: block; width: 481px; height: 94px; background: url(/builds/acf_kidscount-website/img/bg-logo.png) no-repeat; text-indent: -999em; }
	.ie7 #header h1 { margin-bottom: 18px; }
/* main nav */
	#big-nav { overflow: hidden; width: 920px; padding: 0; margin: 18px 20px 20px; background: #fff; border-bottom: 2px solid #f8981d; }
	#big-nav li { float: left; min-height: 75px; }
	#big-nav a { float: left; margin: 14px 0 13px 0; padding: 8px 5px 0 20px; min-height: 40px; text-decoration: none; color: #007fae; font: 18px/1.1em 'allerregular'; border-right: 1px solid #f1efea; }
	#big-nav .link-1 a { width: 162px; }
	#big-nav .link-2 a { width: 197px; }
	#big-nav .link-3 a { width: 198px; }
	#big-nav .link-4 a { width: 125px; }
	#big-nav .link-5 a { width: 101px; border-right: none; }
	#big-nav a span { display: block; color: #000; font: 11px/1.4 Arial; }
	#big-nav li a:hover, #header #big-nav li.active a { color: #e4116e; }
	#big-nav li.active { background: url(/builds/acf_kidscount-website/img/horizontal-patterns-24.png) center bottom no-repeat; }
/* featured media */
	#featured-media { width: 920px; margin: 0 20px; background: #007fae; position: relative; }
	#featured-media:after { left: 920px; background-position: -9px 0; }
	#featured-media .carousel-control { bottom: 68px; left: -24px; }
	#myCarousel { float: left; position: relative; height: 496px; width: 630px; }
	#myCarousel .carousel-item { width: 630px; height: 496px; }
	.no-js #myCarousel { height: auto; }
/* home page overrides */
	.homepage #header-wrap { background-position: center top; }
/* Carousel Arrows common */
	.carousel-control { position: absolute; width: 48px; height: 24px; background-color: #fff; z-index: 99; }
	.carousel-control a { display: block; text-decoration: none; width: 24px; height: 24px;  background: url(/builds/acf_kidscount-website/img/sprite24.png) -152px -88px no-repeat; text-indent: -9999px; float: left; }
	.carousel-control a:hover { opacity: 0.75; filter:alpha(opacity=75); }
	.carousel-control .leftArrow {float: left; background-position: -128px -88px; }

/*  Mid-section
=========================== */
#middle { position: relative; padding: 35px 0 0 20px; width: 940px; overflow: hidden; clear: both;}
.homepage #middle { padding: 54px 0 0 20px; }
#middle .content { width: 605px; float: left; }
#middle .modulesContainer { width: 310px; float: right; padding: 46px 0 0; }
#middle .modulesContainer.heading { padding: 0; }

/*  Content Styling
=========================== */
#middle h1, 
#middle h2 { color: #007fae; text-transform: uppercase; padding: 0 0 12px 0; }
#middle h1 { color: #0097cf; }
#middle .genericContent h2 { color: #007fae; font-size: 20px; text-transform: none; }
#middle h1.no-pad,
#middle h2.no-pad,
#middle h3.no-pad { padding: 0; }
.content p 					{ padding: 0 0 15px; color: #000; }
#middle .genericContent ul 	{ margin: 0; padding: 0 0 3px; color: #5b5959; list-style: none; }
#middle .genericContent li 	{ padding: 0 0 12px 30px; background: url(/builds/acf_kidscount-website/img/sprite24.png) -247px -274px no-repeat; }
#middle h3 a, #middle h4 a, #middle h5 a { text-decoration: none; color: #007fae; }
#middle h3 a:hover, #middle h4 a:hover, #middle h5 a:hover { color: #e4116e; }
.content .emphasis { font-size: 14px; font-weight: bold; color: #000; }
#middle .area-links h3 { color: #000; font-size: 29px; font-family: 'allerregular'; text-transform: uppercase; padding: 0 0 12px 0; }
.area-links .linkcol { width: 290px; margin: 0 25px 0 0; float: left; }
.area-links .linkcol.last { margin: 0; }
.landingLinks { list-style: none; margin: 0; padding: 0; overflow: hidden; }
.landingLinks li { float: left; list-style-position: outside; list-style: none; padding: 0; }
.ie7 ul.landingLinks { margin: 0 0 25px; }
.addThisContainer { width: 140px; float: right; }
/* Generic Content */
	.genericImage 			{ padding-right: 25px; padding-bottom: 10px; }
	.genericQuote 			{ width: 140px; float: right; margin: 0 0 16px 16px; background: url(/builds/acf_kidscount-website/img/quote-sprite.png) -41px top no-repeat; }
	.genericQuote .inner 	{ padding: 27px 0 16px; background: url(/builds/acf_kidscount-website/img/quote-sprite.png) 121px bottom no-repeat;}
	.genericQuote p 		{ font-size: 17px; line-height: 24px;}

/*  Footer
=========================== */
#footer-wrap { min-width: 960px; background: url(/builds/acf_kidscount-website/img/bg-footer.png) center bottom repeat-x; }
#footer { margin: 0 auto; position: relative; font-size: 11px;  }
#footer .footer-links { width: 918px; min-height: 300px; padding: 0 1px; margin: 0 20px; list-style: none; background: #daf0fb; overflow: hidden; line-height: 13px; }
#footer .footer-links li { float: left; width: 160px; padding: 0 0 15px 32px; }
#footer .footer-links .last {width: 100px; }
#footer .footer-links .heading { text-transform: uppercase; margin: 25px 0 14px; font: 18px/1.2 'allerregular'; }
#footer .footer-links li ul li { float: none; padding: 0 0 7px 11px; width: auto; background: url(/builds/acf_kidscount-website/img/sprite24.png) -260px -137px no-repeat; }
#footer .footer-links li ul { padding: 0; margin: 0; list-style: none; }
#footer .footer-links a { color: #000; }
#footer .smedia-form { top: 209px; }
#footer .footer-logo { position: absolute; bottom: 59px; left: 20px; margin: 0; }
#footer .footer-logo-vgov { position: absolute; bottom: 45px; right: 20px; }
#footer .footer-info { width: 920px; padding: 0 20px; min-height: 45px; margin: 87px 0 0 0; color: #fff; overflow: hidden; }
#footer .footer-info p { margin: 0; }
#footer .footer-info .description { width: 440px; float: left; }
#footer .footer-info .copyright { width: 440px; float: right; color: #fff; padding: 16px 0 0 0; text-align: right; }
#footer .footer-info .copyright a { color: #fff; }

/*  Forms
=========================== */
.form-input { width: 200px; height: 24px; border: 1px solid #e6e6e6; border-radius: 2px; }

/*  Modules
=========================== */
/* Modules: Social Media */
	.smedia-form { position: absolute; top: 0; right: 20px; padding: 7px 10px 10px; background-color: #007fae; }
	.smedia-form .smedia, 
	.smedia-form .smediaForm .fields { width: 200px; }
	.smedia-form .smedia { height: 28px; padding-bottom: 10px; }
	.smedia-form .smedia a { text-indent: -9999px; text-decoration: none; width: 28px; height: 28px; display: block; float: right; background: url(/builds/acf_kidscount-website/img/sprite24.png) 0 0 no-repeat; margin-left: 10px; }
	.smedia-form .smedia a.facebook:hover { background-position: 0 -28px; }
	.smedia-form .smedia a.twitter { background-position: -30px 0; }
	.smedia-form .smedia a.twitter:hover { background-position: -30px -28px; }
	.smedia-form .smedia a.youtube { background-position: -60px 0; }
	.smedia-form .smedia a.youtube:hover { background-position: -60px -28px; }
	.smedia-form .smediaForm {  }
	.smedia-form .smediaForm .form-input { width: 200px; height: auto; /*height: 24px;*/ line-height: 18px; padding: 2px 2px 2px 5px; background: #fff; }
/* Modules: Base (default: dark #007fae, white headings/text/links #fff) */
	.module 							{ position: relative; width: 290px; background: #daf0fb; }
	.module .tag 						{ display: block; position: absolute; top:-8px; right:-8px; padding: 4px 7px 3px; color:#fff; background: #f48e00; text-transform: uppercase; font-size: 11px; line-height: 9px;}
	.module .tag:after					{ content:""; position: absolute; height:8px; width: 8px; right: 0px; top: 16px; background: url(/builds/acf_kidscount-website/img/sprite24.png) 0 -93px no-repeat; }
	.module .top img					{ width:290px; }
	.module .top.heading img			{ width: 278px; padding-left:12px; }
	.module .bottom						{ margin: 0 11px; padding: 17px 0 10px; position: relative; text-align: right; }
	.module .bottom.internal			{ padding: 6px 0 7px; }
	#middle .module .heading,
	.module h2 							{ padding: 0; color: #017faf; margin: 0 0 5px; text-align:left; font: normal 20px/1.2 'allerregular'; }
	.content .module p,
	.module p							{ padding: 0; color: #000; margin: 0 0 5px; text-align:left; font-size: 11px; line-height: 15px; }
	.module p a							{ color: #000; background-position: -258px -111px; }
	.module strong						{ color:#bbbbbb; }
	a.link								{ color: #007fae; font-size: 13px;  font-weight: bold; background: url(/builds/acf_kidscount-website/img/sprite24.png) -258px -90px no-repeat; padding-left: 14px; /*min-width:115px; float:left; color: #009edf;*/ } 
	a.link:hover						{ text-decoration: underline; /*text-decoration: none; color: #242222;*/ } 
	.module a.link:hover				{ text-decoration: underline; /*text-decoration: none; color: #fff;*/ } 
	.textFit p 							{ padding-right: 14px; width:169px; display: inline-block; *display: inline; zoom:1; margin: 0; }
	/* unique padding */
	p.text-pad,
	.module.text-pad p					{ margin: 0; padding: 0 0 13px; }
	.module.search-seminars h3			{ margin: 0 0 8px; }
	/* header module stuff */
	#header .module 					{ min-height: 248px; background: #007fae; }
	#header .borderGap 					{ width: 266px;	border-bottom: 1px solid #5b5959; height: 0; margin: 0 auto; }
	.oldie #header .borderGap 			{ margin: 0; }
	#header .modulesContainer a.link 	{ float: none; }
	#header .module .bottom				{ margin: 0 12px; width: 266px; padding: 17px 0 10px; position: relative; text-align: right; }
	#header .module .bottom.internal 	{ padding: 9px 0 0; text-align: left; }
	#header .module h2.form-heading		{ margin: 0 0 8px; }
	#header .module .top 				{ width: 290px; }
	#header .module h2					{ margin: 0 0 1px; color: #fff; }
	#header .module p,
	#header .module p a					{ color: #fff; }
	#header .module p a					{ background-position: -258px -90px; }
	.ie7 #header .module .top 			{ height: 156px; overflow: hidden; }
/* Module: Get support */
	#header .supporter p 				{ margin: 0 0 4px; }
	#header .supporter p.last-text		{ margin: 0; padding: 0 0 7px; }
/* Module: Subscribe */
	.subscribe .form-input 				{ width: 170px; padding: 4px 5px; height: 14px; font-size: 11px; color: #808080; border: 1px solid #b8d9e6; }
	#header .subscribe .form-input 		{ border: 1px solid #e6e6e6; }
	.subscribe .button 					{ position: relative; top: 0; float: right; width: 72px; padding: 0; }
	.subscribe p 						{ margin-bottom: 7px; }
	.subscribe fieldset					{ padding-bottom: 8px; text-align: left; }
	#header .subscribe fieldset 		{ padding-bottom: 12px; }
	.ie7 #header .subscribe fieldset	{ padding-bottom: 10px; }
	.ie7 #header .subscribe .button 	{ top: 1px; }
	.ie7 #middle .subscribe .button 	{ right: -10px; }
	.ie7 #middle .subscribe .form-input	{ position: relative; left: -3px; }
/* Module: Featured Stories */
	.headlines 					{ background: #daf0fb; padding: 16px; list-style-type: none; margin: 0; position: relative; overflow: hidden; }
	.headlines section 			{ padding: 0 0 15px; border-bottom: 1px solid #0c84b1; overflow: hidden; }
	.headlines section.only 	{ padding: 0; border: 0 none; }
	.headlines section.last 	{ padding: 16px 0 0; border: 0; }
	.headlines h3 				{ margin: 0 0 7px; font-family: Arial, Helvetica, sans-serif; }
	.featured-stories h4 		{ margin: 0 0 13px; font-family: Arial, Helvetica, sans-serif; }
	.headlines p.date 			{ margin: 0 0 5px; font-size: 11px; line-height: 1.2em; color: #000; position: relative; z-index: 5; }
	.mainArticleImg 			{ float: right; margin-left: 16px; margin-bottom: 5px; height:145px;}
	.mainArticle 				{ margin: 0; color: #000;}
	.subHeadlines 				{ list-style-type: none; padding: 0; margin: 0; }
	.subHeadlines li 			{ float:left; width: 270px; padding-right: 30px;}
	.subHeadlines li.last 		{ width: 273px; padding: 0;}
	.subHeadlines .thumb-img 	{ float:left; margin-right: 16px; }
	.subArticle 				{ padding: 0; margin: 0; line-height: 1.3em; color: #000;}
	.content .headlines	p		{ padding: 0; }
/* Module: Slide Links */
	.slide-link { position: relative; }
	.slide-link, 
	.slide-link .module, 
	.slide-link .slide-module { display: block; width: 290px;  overflow: hidden; }
	.slide-link:hover { text-decoration: none; }
	.slide-link .module { margin: 0; background: #f8981f; }
	.slide-link .module .top { width: 290px; height: 163px; }
	.slide-link .module .top:after { content:""; position: absolute; width: 13px; height: 7px; left: 139px; bottom: 70px; background: url(/builds/acf_kidscount-website/img/sprite24.png) -252px -200px no-repeat; }
	.slide-link .module .bottom { margin: 0; padding: 13px 15px 0; width: 260px; height: 57px; }
	#middle .slide-link .module	.heading,
	.slide-link .heading { color: #000; text-align: left; font: 22px/1.1 'allerregular'; font-weight: normal; margin: 0; }
	.slide-link .slide-module { position: absolute; left: 0; bottom: -234px; background: #f8981f; padding: 37px 15px 0; width: 260px; height: 197px; }
	.no-js .slide-link .slide-module { bottom: 0; }
	.content .slide-link .slide-module p,
	.slide-link .slide-module p { margin: 0; padding: 10px 0 0; color: #000; }
	.content .slide-link .slide-module .heading,
	.slide-link .slide-module .heading { padding: 0; }
	.ie7 .slide-link { cursor: pointer; position: relative; }
/* Module: Language Selector */
	#middle .lang-sel-wrap h2 { color: #e3116e; }
	.language-select { overflow: hidden; list-style: none; margin: 0; padding: 0; }
	.language-select li { float: left; margin: 0 1px 1px 0; }
	.language-select a { display: block; width: 130px; min-height: 30px; padding: 5px 5px 3px 10px; background: #fae3e7; color: #000; line-height: 1.2; }
	.language-select a:hover,
	.language-select .active { text-decoration: none; background: #e3116e; color: #fff; }
	.language-select span { text-transform: uppercase; }
/* Module: Breadcrumbs */
	.breadcrumbs { font-size: 13px; list-style: none; margin: 16px 0 0 20px; padding: 0; overflow: hidden; /*height: 24px;*/ color: #242222; }
	.breadcrumbs li { display: block; /*padding: 3px 0 0; height: 21px;*/ float:left; margin-right: 10px; min-height: 24px; line-height: 24px; }
	.breadcrumbs .homeCrumb,
	.breadcrumbs .ddlBreadcrumbsList { padding: 0; /*height: 24px;*/ }
	.breadcrumbs .arrow { padding-left:16px; background: url(/builds/acf_kidscount-website/img/sprite24.png) -257px -214px; }
	.breadcrumbs .ddlBreadcrumbs { width: auto; font-size: 13px; color: #242222; line-height: 20px; margin: 0; padding: 3px 3px 3px 5px; background: #e8e8e8; border: none; border: 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
	.ie7 .breadcrumbs .ddlBreadcrumbs { background: #fff; margin: 2px 0 0; }
/* Module: Content lists */
	#middle .content-articles h2 { color: #0097d0; font-size: 24px; }
	ul.content-list { list-style: none; padding: 0; margin: 0 0 60px; }
	ul.content-list.nomargin { margin: 0; }
	.content-list.top-border { border-top: 1px solid #919090; }
	.content-list,
	.content-list li { list-style-position: outside; list-style: none; overflow: hidden; }
	.content-list > li { border-bottom: 1px solid #f0f0f0; padding: 15px 0 0; }
	.content-list > li.last { border-bottom: 1px solid #919090; }
	.content-list .module { background: none; width: 605px; }
	.content-list .module .top { float: left; padding: 0 12px 20px 0; }
	.content-list .module .top img { width: auto; }
	.content-list .module .bottom { overflow: hidden; padding: 0; margin: 0; }
	.content-list .module .bottom:before { display: none; }
	.content .content-list h3,
	.content .content-list h4 { margin: 0 0 10px; padding: 0; font-size: 18px; }
	.content-list h3 a:hover { color: #e4116e; text-decoration: none; }
	.content .content-list .module p { font-size: 12px; line-height: 1.5; color: #000; padding: 0 0 13px; margin: 0; }
	.content .content-list .module p.date { color: #000; padding: 0 0 7px; }
		.date span { text-transform: uppercase; color: #919090; }
	.content-list .module .title { text-transform: uppercase; }
	.content-list a.link:hover { text-decoration: underline; }
	.content .links-list { margin: 0 0 11px; overflow: hidden; }
	.content .links-list li { padding-bottom: 5px; list-style: outside none; }
	.links-list .link { float: none; background-position: -258px -112px; }
/* Module: Phone list; */
	.time-list { width: 454px; overflow: hidden; text-align: left; border-bottom: 1px solid #f0f0f0; margin: 8px 0 13px; }
	.time-list.full { width: 605px; margin: 0 0 20px; }
	.time-list dt,
	.time-list dd { float: left; padding: 11px 0; margin: 0; border-top: 1px solid #f0f0f0; }
	.time-list dt { font-weight: bold; width: 95px; color: #242222; }
	.time-list dd { color: #3b3939; }
	.time-list .time { width: 279px; }
	.time-list.full .time { width: 150px; }
	.time-list.full .address { width: 265px; padding: 11px 15px 11px 0; }
	.time-list .rego { width: 80px; height: 24px; padding: 8px 0; display: block; }
	.module .time-list .rego .button { top: 0; width: 66px; background-color: #009EDF;}
	.phone-list { border-bottom: 1px solid #919090; }
	.phone-list .list-sel { overflow: hidden; padding: 0; margin: 0; }
	.content .phone-list .list-sel li { list-style: outside none; float: left; margin: 0 8px 0 0; padding: 0; }
	.phone-list .time-list.full { margin: 0; }
	#middle .phone-list .phone-listing h2 { color: #017faf; padding: 20px 0 13px; font-size: 18px; text-transform: none; }
	.phone-list .time-list { border: none; }
	.phone-list .time-list .first { border-top: 1px solid #919090; }
	.phone-list .time-list dt { font-weight: normal; width: 495px; padding: 11px 15px 11px 0; }
	.phone-list .time-list dd { font-weight: bold; width: 95px; text-align: right; color: #242222; }
	.phone-list a.button { background: #007fae; color: #fff; }
	.phone-list a.button:hover { background: #409fc2; }
	.phone-list .list-sel .active,
	.phone-list a.button.active:hover { color: #5b5959; background-color: #f0f0f0; }
	.phone-list .phone-listing { display: none; }
	.no-js .phone-list .phone-listing { display: block; }
	.no-js .phone-list .time-list { border-bottom: 1px solid #f0f0f0; }
	.no-js .phone-list { border-bottom: none; }
	.phone-list .time-list .group { padding-top: 0; padding-bottom: 0; border-top: none; }
	.phone-list .time-list .group-first { padding-bottom: 0; font-weight: bold; }
	.phone-list .time-list .group-first.no-bold { font-weight: normal; }
	.phone-list .time-list .group-last { padding-top: 0; border-top: none; }
/* Module: Contact form */
	#middle ul.form { background: #daf0fb; padding: 16px; margin: 0; list-style: none; }
	.form li, .content .form li { list-style-position: outside; padding: 0; width: 100%; min-height:24px ; position: relative; list-style: none; }
	.form li.heading { padding: 0 0 7px; margin: 0 0 24px; border-bottom: 1px solid #73bad6; }
	.content .form .heading h3 { color: #009edf; padding: 0; }
	.form label						{ font-size: 13px; font-weight:bold; color:#000; display: block; width: 100%; line-height: 25px; }
	.form input,
	.form textarea,
	.form select,
	.form textarea 					{ width: 139px; color: #000; font-size: 11px; margin: 0; background: #fff url(/builds/acf_kidscount-website/img/horizontal-patterns-24.png) left -1030px repeat-x; border: 1px solid #b8d9e6; }
	.form input 					{ padding: 4px 5px; min-height: 14px; }
	.form select 					{ line-height: 18px; padding: 2px 2px 2px 5px; min-height: 24px; }
	.form textarea					{ width: 561px; min-height: 80px; padding: 3px 5px; }
	.form .radio-btn				{ margin: 4px 0 0; height: auto; width: auto; padding: 0; background: none; border: none; position: relative; top: 2px; }
	.ie7 .form .radio-btn			{ top: -1px; }
	.form .radio					{ padding: 0 3px; font-weight: normal; }
	.form .inline 					{ margin-right: 25px; float:left; width: auto;}
	.form .twoColumn				{ width:273px; display: inline-block; *display: inline; zoom: 1; }
	.form .button 					{ float: right; }
	.line-fix 						{ min-height: 15px; }
	.form input.error,
	.form select.error,
	.form textarea.error 			{ border: 2px solid #f14c00; padding: 3px; }
	.form select.error 				{ padding: 1px 3px; }
	.form label.error 				{ font-size: 12px; font-weight: normal; line-height: 12px; color: red; padding: 4px 0 0; font-style: italic; }
	.ie7 .form label.error 			{ float: left; display: block; }
	/* contact form specific */
	#contactForm .titleResize 				{ width: 74px; }
	#contactForm .firstnameResize 			{ width: 175px; }
	#contactForm .surnameResize 			{ width: 274px; }
	#contactForm input.firstnameResize 		{ width: 163px; }
	#contactForm input.surnameResize 		{ width: 262px; }
	#contactForm input,
	#contactForm select,
	#contactForm textarea,
	.date-picker input 						{ font-size: 13px; }
	#contactForm .email,
	#contactForm .digits					{ width: 262px; }
	#contactForm .feedback-select			{ width: 274px; }
	.contact-form 							{ overflow: hidden; }
	.contact-form .label-block				{ height: 25px; }
	.contact-form .label-block-sml			{ margin: 3px 0 0; height: 19px; }
	#middle .genericContent
	.form.contact-form li 					{ width: 573px; float: left; display: block; padding: 0 0 13px; background: none; }
	#middle .form.contact-form li.heading 	{ padding: 0 0 7px; }
	.form.contact-form li.radio-row 		{ padding: 0 0 9px; }
	.form.contact-form li.text-area-row		{ padding: 0 0 16px; }
	#middle .form.contact-form li.btn-row 	{ padding: 0; }
	.form.contact-form select 				{ padding: 3px 3px 3px 5px; min-height: 26px; }
	.ie8 .form.contact-form select 			{ min-height: 18px; }
	.form.contact-form label 				{ display: inline; }
	.contact-form .last 					{ float: right; }
	.form .inline.no-margin					{ margin: 0; }
	.form .radio-row label					{ line-height: 1.5; }
	#middle .contact-form h2 				{ padding-bottom: 0; }
	.form input.button 						{ width: auto; height: 24px; margin: 0; padding: 0 13px; background: #f8981d; color: #000; border: none; }
	.form input.button:hover 				{ background: #fdb85d; }
/* Module: Audio module */
	.audio-module.section-25 { overflow: visible; }
	.audio-module.module { background: #fae3e7; }
	.audio-module.module .bottom { text-align: left; }
	.audio-module.module p { font-size: 12px; }
	.audio-module.module .tag { background: #e0136c; }
	.audio-module.module .tag:after { background-position: -16px -93px; }
	#middle .audio-module.module .heading { display: block; color: #e0136c; }
	.audio-player { background: #e0136c; }
	.audio-player .audio-controls { width: 290px; overflow: hidden; margin: 0; padding: 0; }
	.audio-player .audio-controls li { display: block; float: left; }
	.audio-player .audio-btn { text-indent: -999em; display: block; height: 32px; background: url(/builds/acf_kidscount-website/img/sprite24.png) no-repeat; }
	.audio-player .audio-btn:hover { opacity:0.8; filter:alpha(opacity=80); }
	.audio-player .jp-playcontrol { margin-right: 3px; }
	.audio-player .jp-playcontrol a { width: 31px; }
	.audio-player .jp-progress { width: 183px; margin-right: 10px; }
	.audio-player .jp-progress div { border-radius: 2px; }
	.audio-player .jp-audiovolume a { width: 25px; }
	#jp-play { background-position: 10px -241px; }
	#jp-pause { background-position: 10px -271px; display: block; }
	#jp-seek-bar { height: 12px; margin: 10px 0 10px; background: #7a0a3b; width: 100%; }
	#jp-play-bar { height: 12px; background: #fff; }
	#jp-current-time { width: 33px; line-height: 32px; color: #fff; }
	#jp-mute { background-position: -50px -240px; }
	#jp-unmute { background-position: -50px -270px; }
	#jp-no-solution { padding: 10px; color: #fff; }
	#jp-no-solution span { display: block; font-weight: bold; }
	#jp-no-solution a { color: #fff; text-decoration: underline; }
	.no-js .audio-controls { display: none; }
	.touch #jp-seek-bar { width: 100% !important; }
/* Module: Pagination */
	.pagination { padding: 8px 0 60px; overflow: hidden; }
	.pagination .sort-method,
	.pagination .page-buttons,
	.pagination .page-buttons li { float: left; list-style: none; }
	.pagination .sort-method { width: 139px; margin: 0 12px 0 0; padding: 0; background: none; }
	.pagination .page-buttons { width: 310px; }
	.pagination .page-buttons { list-style: none; }
	.pagination .page-buttons li, .pagination .page-buttons li a
		{ padding: 0; margin: 0 1px 0 0; width: 24px; height: 24px; text-align: center; display: block; }
	.pagination .page-buttons .of { padding: 3px 0 0; height: 21px; color: #5b5959; }
	.pagination .page-buttons li a { font-weight: bold; height: 21px; padding: 3px 0 0; }
	.pagination .page-buttons .active a { cursor: default; font-weight: normal; color: #5b5959; }
	.pagination .page-buttons .active a,
	.pagination .page-buttons li a:hover { background: #e8e8e8; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; text-decoration: none; }
	.pagination .page-control { overflow: hidden; float: right; height: 24px; }
	.pagination .page-control .prev,
	.pagination .page-control .next { float: left; }
	.pagination .page-control .prev { margin: 0 8px 0 0; }
	.pagination .page-control .disabled { background: #e8e8e8; cursor: default; color: #fff; }
	.ie7 .pagination .page-control a { padding: 6px 7px 0; height: 18px; }
	.pagination .form select { font-size: 13px; }
/* Module: Search news */
	.form.news-search li.heading { margin-bottom: 20px; }
	.form.news-search input.keywordHalf { width: 257px; margin-right: 12px; }
	.form.news-search input.input-date { padding: 2px 5px 0; width: 82px; background: #fff url(/builds/acf_kidscount-website/img/sprite24.png) 74px -325px no-repeat; min-height: 22px; line-height: 22px; }
	.form.news-search input.input-date.inline { margin-right: 24px; }
	.form.news-search .betweenMid { position: absolute; top: 4px; right: 181px; }
	.ie7 #dateTo { margin: -1px 0 0; }
	.form.news-search input.button.search { width: 68px; padding: 0; position: relative; top: 1px; }
	.form.news-search .input-row { min-height: 26px; }

/*  Language - Arabic
=========================== */
/* resets */
	/* font-family */
	.lang-arabic #header .module h2,
	.lang-arabic .button,
	.lang-arabic h1,
	.lang-arabic h2,
	.lang-arabic .module h2,
	.lang-arabic #middle .area-links h3,
	.lang-arabic #middle .slide-link .module .heading,
	.lang-arabic .slide-link .heading,
	.lang-arabic #footer .footer-links .heading,
	.lang-arabic #middle .module .heading { font-family: Arial, Helvetica, sans-serif; }
	/* text-align */
	.lang-arabic #header .module h2,
	.lang-arabic .module p,
	.lang-arabic .slide-link .heading,
	.lang-arabic #middle .module .heading { text-align: right; }
	/* float left */
	.lang-arabic #middle .modulesContainer,
	.lang-arabic .right,
	.lang-arabic .addThisContainer,
	.lang-arabic a.button.headingButton,
	.lang-arabic .form.news-search .button { float: left; }
	/* float right */
	.lang-arabic #middle .content,
	.lang-arabic .left,
	.lang-arabic .pagination .sort-method,
	.lang-arabic .pagination .page-buttons,
	.lang-arabic .pagination .page-buttons li,
	.pagination .page-control .prev,
	.pagination .page-control .next { float: right; }
	/* keep normal direction */
	.lang-arabic .phone-list,
	.lang-arabic .audio-module .audio-controls { direction: ltr; }
/* global, structural */
	body.lang-arabic { background: #f6fbfe url(/builds/acf_kidscount-website/img/bg-pattern-reversed.png) top center repeat-y; }
	.lang-arabic a.link { background: url(/builds/acf_kidscount-website/img/horizontal-patterns-24.png) right -26px no-repeat; padding: 0 14px 0 0; }
	.ie7 .lang-arabic a.link { background: url(/builds/acf_kidscount-website/img/horizontal-patterns-24.png) right -26px no-repeat; padding: 0 0 0 14px; }
	.lang-arabic .col3 { margin-right: 0; margin-left: 25px; }
	.lang-arabic .col3.last { margin-left: 0; }
	.lang-arabic #middle { padding-left: 0; padding-right: 20px; }
	.lang-arabic.homepage #middle { padding-left: 20px; padding-right: 0; }
	.lang-arabic #print-btn { right: auto; left: 20px; }
	.lang-arabic .keep-font-regular { font-family: 'allerregular'; }
/* header */
	.lang-arabic { direction: rtl; /* Right to Left */ }
	.lang-arabic #mini-nav { padding-right: 0; left: auto; right: 20px; }
	.lang-arabic #header .logo { background: url(/builds/acf_kidscount-website/img/bg-logo-arabic.png) no-repeat; }
	.lang-arabic .smedia-form { right: auto; left: 20px; }
	.lang-arabic #header h1 { padding: 0 20px 0 0; display: inline-block; }
	.lang-arabic .smedia-form .smediaForm .form-input { padding: 2px 5px 2px 2px; }
	.lang-arabic #big-nav a { padding: 8px 20px 0 5px; font-family: Arial, Helvetica, sans-serif; }
	.lang-arabic #big-nav .link-1 a,
	.lang-arabic #big-nav .link-2 a,
	.lang-arabic #big-nav .link-3 a,
	.lang-arabic #big-nav .link-4 a { width: 156px; }
	.lang-arabic #big-nav .link-5 a { width: 159px; }
	.ie7 .lang-arabic #mini-nav	a { padding: 0 10px 0 10px; margin: 0; }
	.ie7 .lang-arabic #mini-nav	.last { padding: 0 10px 0 0; }
/* middle - home */
	.lang-arabic #middle .lang-sel-wrap h2 { padding-right: 20px; }
/* middle */
	.lang-arabic .landingLinks li { float: right; }
	.lang-arabic .genericQuote { float: left; margin-right: 16px; margin-left: 0; }
	.lang-arabic .genericImage { padding-right: 0; padding-left: 25px; }
	.lang-arabic #middle .genericContent li { padding: 0 30px 12px 0; background: url(/builds/acf_kidscount-website/img/horizontal-patterns-24.png) right -444px no-repeat; }
/* footer */
	.lang-arabic #footer .footer-links li ul li { padding: 0 11px 7px 0; background: url(/builds/acf_kidscount-website/img/horizontal-patterns-24.png) right -127px no-repeat; }
/* modules */
	.lang-arabic .subscribe .button { float: left; }
	.lang-arabic .subscribe fieldset { text-align: right; }
	.lang-arabic .subHeadlines .thumb-img { float: right; margin-right: 0; margin-left: 16px; }
	.lang-arabic .mainArticleImg { float: left; margin-left: 0; margin-right: 16px; }
	.ie7 .lang-arabic #header .subscribe .form-input { position: relative; right: -12px; }
	.lang-arabic .breadcrumbs { margin-left: 0; margin-right: 20px; }
	.lang-arabic .breadcrumbs li { float: right; margin-right: 0; margin-left: 10px; }
	.lang-arabic .breadcrumbs .arrow { padding-left: 0; padding-right: 16px; background: url(/builds/acf_kidscount-website/img/horizontal-patterns-24.png) right -242px no-repeat; }
	.lang-arabic .module .tag { right: auto; left: -8px; }
	.lang-arabic .module .tag:after { right: auto; left: 0; background-position: -16px -101px; }
	.lang-arabic .supporter a.link,
	.lang-arabic .links-list a.link { background: url(/builds/acf_kidscount-website/img/horizontal-patterns-24.png) right -347px no-repeat; }
	.lang-arabic #header .module p a { background: url(/builds/acf_kidscount-website/img/horizontal-patterns-24.png) right -26px no-repeat; }
	.lang-arabic .content-list .module .top { float: right; padding: 0 0 20px 12px; }
	.lang-arabic .phone-list .button { font-family: 'allerbold'; }
	.lang-arabic .form.contact-form select { padding: 3px; }
	.lang-arabic .form .inline { float: right; margin-right: 0; margin-left: 25px; }
	.ie7 .lang-arabic #middle .subscribe .button { right: 10px; }
	.ie7 .lang-arabic #middle .subscribe .form-input { left: 0; }
	.lang-arabic .form.news-search input.keywordHalf { margin-right: 0; margin-left: 12px; }
	.lang-arabic .form.news-search input.input-date.inline { margin-right: 0; margin-left: 24px; }
	.lang-arabic .form.news-search .betweenMid { right: auto; left: 181px; }
	.lang-arabic .form.news-search input.input-date { background-position: 4px -325px; }
	.lang-arabic .pagination .page-control { float: left; }
	.lang-arabic .pagination .sort-method { margin: 0 0 0 12px; }
	.lang-arabic .pagination .page-buttons { width: 352px; }
	.lang-arabic .pagination .page-buttons li { margin: 0 0 0 1px; }
	.lang-arabic .pagination .page-control .prev { margin: 0 0 0 8px; }

/* ==|== visual jazz utility classes ======================================== */
.skip-links {	height:0;	overflow:hidden; }
.print-logo {display: none;}
.left {float: left;}
.right {float: right;}
.clearer { clear: both; height: 0; overflow: hidden; display: block; }
.overflow {overflow:hidden}
.gradient { filter: none; }
.greyBg {background: #e8e8e8;}

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 768px) {}

/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  .print-logo { display: block; padding-bottom: 30px; }		
  body { background: none; background-color: #fff; }

  #header-wrap,
  #middle .modulesContainer,
  #footer-wrap,
  #contactForm { display: none; }
  
  #middle, #middle .content { width: 100%; margin: 0; padding: 0; float: none; }
}