/* ----------- 9.2.15, TTrinh ---------------------------------------------- */
/* V3 layout
@import 'partials/layoutv3'; */

/* ----------- future commodore --------------------------------------------- */

/* global reset */
body {
	font-family: arial, sans-serif;
}

/* layoutv3 spoof */
.V3 .constrain { position: relative; }
.V3 .free { position: absolute; }
.V3 .container-wrapper {
	max-width: 1280px;
	margin: 0 auto;
}
.V3 .container {
	width: 950px !important;
	margin-right: auto;
	margin-left: auto;
}
.V3 .hide {
	display: none;
}

/* typography */
.font-gibson-bold-italic { font-family: 'Gibson-BoldItalic'; }
.font-gibson-semibold-italic { font-family: 'Gibson-SemiboldIt';}

/* overrides */
.col-interactive__mud.opacity-1 {
	opacity: 1;
}
.carousel .item h2.col-interactive__heading {
	display: inline;
}
/* V3 overrides */
.V3 .col-interactive__heading {
	top: 53px;
	font-size: 72px;
	line-height: 1;
	z-index: 5;
	padding-right: 10px; /* hack, otherwise text is clipped (proper fix later) */
	text-transform: uppercase;
	text-decoration: underline;
	color: #fff;
	
	margin: 10px 0;
}
.V3 .col-interactive__heading--sub {
	top: 220px;
	font-size: 44px;
	text-decoration: none;
	color: #C2C2C2;
}
/* V3Generic overrides */
.V3Generic h3.col-interactive__video-btn--text {
	font-size: 24px;
	color: #fff;
}
/* hld-bootstrap overrides */
.hld-bootstrap .col-interactive__video-btn a:focus {
	outline: none;
}

/* Colorado Interactive */
.col-interactive--cursor {
	cursor:
		url(../images/squidgy.png),
		url(../images/squidgy.cur),
		default;
}
.col-interactive {
	height: 550px;
}
.col-interactive__video-btn {
	top: 334px;
	left: 80px;
}
.col-interactive__video-btn--text {
	text-transform: uppercase;
}
.col-interactive__video-btn a:hover,
.col-interactive__video-btn a:focus {
	text-decoration: none;
}
.col-interactive__mud {
	background: url(../images/mud-sprite.png) no-repeat left top;
	width: 580px;
	height: 320px;
	top: 170px;
	left: 375px;
	opacity: 0;
}
.col-interactive__mud--2 {
	background-position: left -320px;
}
.col-interactive__mud--3 {
	background-position: left -640px;
}
.col-interactive__mud--4 {
	background-position: left -960px;
}
.col-interactive__mud--final {
	background: none;
}
a.col-interactive__refresh-btn {
	bottom: 12px;
	right: 100px;
	color: #fff;
	padding: 12px 20px;
	border: 1px solid white;
}
.col-interactive__instructions {
	bottom: 0;
	right: 218px;
	opacity: 0;
}
.col-interactive__instructions--animation {
	-webkit-animation: pulse_animation 1.5s infinite ease-in;
	-moz-animation: pulse_animation 1.5s infinite ease-in;
	animation: pulse_animation 1.5s infinite ease-in;
}
@-webkit-keyframes pulse_animation {
	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}
@-moz-keyframes pulse_animation {
	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}
@keyframes pulse_animation {
	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}