/*
Font: 		Gibson
Style: 		Regular
URL: 		http://www.youworkforthem.com/font/T2154/gibson
Foundry: 	Canada Type
Foundry: 	http://www.youworkforthem.com/designer/14/canada-type
Copyright:	Copyright  2011 Rod McDonald. Published by Canada Type. All rights reserved.
Version: 	1.5
Created:	July 03, 2014
License: 	http://www.youworkforthem.com/font-license
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted
			from using the WebFonts(s) listed without a purchased license.
			All details above must always remain unaltered and visible in your CSS.
*/

/*
Font: 		Gibson
Style: 		Bold Italic
*/
@font-face {
	font-family: 'Gibson-BoldItalic';
	src: url('../fonts/gibson-bold-italic.eot');
	src: url('../fonts/gibson-bold-italic.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/gibson-bold-italic.woff') format('woff'),
	     url('../fonts/gibson-bold-italic.ttf') format('truetype'),
	     url('../fonts/gibson-bold-italic.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
Font: 		Gibson
Style: 		Semibold Italic
*/
@font-face {
	font-family: 'Gibson-SemiboldIt';
	src: url('../fonts/gibson-semibold-italic.eot');
	src: url('../fonts/gibson-semibold-italic.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/gibson-semibold-italic.woff') format('woff'),
	     url('../fonts/gibson-semibold-italic.ttf') format('truetype'),
	     url('../fonts/gibson-semibold-italic.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}