/* ==|== Breakpoint 320 =====================================================

   Authors: Tony Trinh VJI - DEC 2013

========================================================================== */

/* ==|== Fonts ====================================================== */

/* Museo Sans 100 */
@font-face { font-family: 'MuseoSans100Regular'; src: url('../fonts/MuseoSans_100-webfont.eot'); src: url('../fonts/MuseoSans_100-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans_100-webfont.woff') format('woff'), url('../fonts/MuseoSans_100-webfont.ttf') format('truetype'), url('../fonts/MuseoSans_100-webfont.svg#MuseoSans100Regular') format('svg'); font-weight: normal; font-style: normal; }
/* Museo Sans 500 */
@font-face { font-family: 'MuseoSans500Regular'; src: url('../fonts/MuseoSans_500-webfont.eot'); src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans_500-webfont.woff') format('woff'), url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'), url('../fonts/MuseoSans_500-webfont.svg#MuseoSans500Regular') format('svg'); font-weight: normal; font-style: normal; }

/* ==|== Structure/Layout ====================================================== */

body { padding:0; margin: 0; font-family:'MuseoSans500Regular', Arial, Sans-serif; position:relative; background: #f6f6f7; }
.site-wrapper { width:100%; padding-bottom: 100px; }

.header h1 { margin: 0; height: 0; overflow: hidden; }
.header .logo { width: 100%; max-width: 768px; max-height: 200px; height: auto; }

.footer { min-height: 100px; }

/* Structure/Layout - Old IE */

.oldie .site-wrapper { width:100%; min-width:1240px; }

/* ==|== World of Style Quiz ====================================================== */

/* buttons */
	#worldOfStyleQuiz .btn { font-size: 22px; line-height: 26px; padding: 12px 0; width: 200px; display: inline-block; text-align: center; vertical-align: middle; cursor: pointer; border: 1px solid #bbbbbb; color: #ffffff;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
		box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05); }
	#worldOfStyleQuiz .btn:hover { background-position: 0 0; }
	#worldOfStyleQuiz .btn-small { font-size: 18px; line-height: 24px; padding: 8px 15px; width: auto; }
	#worldOfStyleQuiz .btn-primary { background-color: #464646; text-shadow: -1px -1px 0px rgba(0,0,0,0.3); color: #ffffff;
		background-image: -moz-linear-gradient(top, #535353, #3a3a3a);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#535353), to(#3a3a3a));
		background-image: -webkit-linear-gradient(top, #535353, #3a3a3a);
		background-image: -o-linear-gradient(top, #535353, #3a3a3a);
		background-image: linear-gradient(to bottom, #535353, #3a3a3a);
		background-repeat: repeat-x;
		border-color: transparent;
		*background-color: #464646; }
	#worldOfStyleQuiz .btn-primary.disabled,
	#worldOfStyleQuiz .btn-primary[disabled] { background-color: #3a3a3a; opacity: 0.65; filter: alpha(opacity=65); background-position: 0 0; cursor: default; }
	#worldOfStyleQuiz .btn-primary:active,
	#worldOfStyleQuiz .btn-primary.active { background-color: #3a3a3a; background-position: 0px -15px; }

/* global */
	#worldOfStyleQuiz { background: #fff; text-align: center; font-family: 'MuseoSans100Regular', Arial, Sans-serif; font-weight: normal; color: #58585a; font-size: 15px; line-height: 1.2; clear:both; overflow:hidden; position:relative; padding: 10px 0; }
	#worldOfStyleQuiz a { outline: 0; text-decoration: none; }
	#worldOfStyleQuiz img { border: 0 none; height: auto; width: 100%; vertical-align: middle; }
	#worldOfStyleQuiz strong { font-weight: normal; font-family: 'MuseoSans500Regular'; }
	#worldOfStyleQuiz h1,
	#worldOfStyleQuiz h2,
	#worldOfStyleQuiz h3,
	#worldOfStyleQuiz h4,
	#worldOfStyleQuiz h5,
	#worldOfStyleQuiz h6 { font-family: 'MuseoSans100Regular', Arial, Sans-serif; font-weight: normal; color: #000000; line-height: 1.1; margin: 0; /*text-rendering: optimizelegibility; must be disabled, otherwise heading font fails to load in Android 4.2.x native browser */ }
	#worldOfStyleQuiz .cursive-font { font-family: 'MuseoSans500Regular'; font-style: italic; }
	#worldOfStyleQuiz .module-wrap { width:100%; display: none; }

/* 1. start quiz */
	#worldOfStyleQuiz .module-wrap.wosq-start { width: 100%; overflow: hidden; /*display: block;*/ }
	#worldOfStyleQuiz .wosq-start .wosq-intro { width: 100%; max-width: 830px; background: #fff; padding: 24px 0 38px; border-radius: 5px; }
	#worldOfStyleQuiz .wosq-start h3 { margin: 0 0 18px; }
	#worldOfStyleQuiz .wosq-start p { font-size: 16px; line-height: 21px; padding: 0 20px; margin: 0 0 20px; }

/* 2. your category */
	#worldOfStyleQuiz .module-wrap.wosq-category { width: 90%; margin: 0 auto; max-width: 900px; padding: 26px 0 65px; }
	#worldOfStyleQuiz .wosq-category h3 { margin: 10px 0; line-height: 1; }
	#worldOfStyleQuiz .wosq-category p.wosq-unique { font-size: 18px; }
	#worldOfStyleQuiz .wosq-category p.wosq-unique .cursive-font { color: #000; }
	#worldOfStyleQuiz .wosq-category .wosq-cat-img { width: 100%; margin: 0 auto 32px; max-width: 640px; max-height: 427px; height: auto; }
	#worldOfStyleQuiz .wosq-category .wosq-cat-output { text-transform: capitalize; }

/* 3. your results */
	#worldOfStyleQuiz .wosq-quiz.wosq-result .wosq-grid { margin-bottom: 0; }
	#worldOfStyleQuiz .wosq-footer { overflow: hidden; width: 100%; max-width: 1100px; margin: 0 auto; }
	#worldOfStyleQuiz .wosq-footer ul { list-style: none; margin: 0; }
	#worldOfStyleQuiz .wosq-smedia { overflow: hidden; }
	#worldOfStyleQuiz .wosq-smedia span { display: block; font-size: 28px; line-height: 85px; margin: 0 auto; }
	#worldOfStyleQuiz .wosq-smedia ul { margin: 0 auto; overflow: hidden; max-width: 265px; }
	#worldOfStyleQuiz .wosq-smedia li { display: block; float: left; }
	#worldOfStyleQuiz .wosq-smedia li a { display: block; width: 85px; height: 85px; overflow: hidden; position: relative; }
	#worldOfStyleQuiz .wosq-smedia .wosq-smedia-img { width: 625px; max-width: 625px; height: auto; position: absolute; }
	#worldOfStyleQuiz .wosq-smedia .wosq-twitter,
	#worldOfStyleQuiz .wosq-smedia .wosq-facebook { margin-right: 5px; }
	#worldOfStyleQuiz .wosq-smedia .wosq-twitter img { top: -4px; left: -327px; }
	#worldOfStyleQuiz .wosq-smedia .wosq-facebook img { top: -4px; left: -227px; }
	#worldOfStyleQuiz .wosq-smedia .wosq-email img { top: -4px; left: -527px; }
	#worldOfStyleQuiz .wosq-footer .wosq-controls { overflow: hidden; margin: 32px 0 0; }
	#worldOfStyleQuiz .wosq-controls li { display: block; margin: 0 auto 10px; }
	#worldOfStyleQuiz .wosq-controls .btn-small { padding: 8px 0; width: 200px; }

	#worldOfStyleQuiz .wosq-controls li:nth-child(3) { display: none; }
	#worldOfStyleQuiz .wosq-style-result p span { display: none; }
	#worldOfStyleQuiz .wosq-style-result p span.wosq-show { display: inline; }

	#worldOfStyleQuiz .wosq-location { background: #fbfbfb; padding: 25px 25px 15px; position: relative; max-width: 250px; min-height: 228px; text-align: left; margin: 30px auto 0; border: 1px solid #e4e4e4; }
	#worldOfStyleQuiz .wosq-location .wosq-map { position: absolute; top: 25px; left: 25px; visibility: hidden; z-index: -10; }
	#worldOfStyleQuiz .wosq-location .wosq-map-link { display: block; }
	#worldOfStyleQuiz .wosq-location h4 { font-size: 26px; color: #000; font-family: 'MuseoSans500Regular'; margin-bottom: 10px; }
	#worldOfStyleQuiz .wosq-location strong { color: #000; font-family: 'MuseoSans500Regular'; }
	#worldOfStyleQuiz .wosq-location p { font-size: 15px; color: #58585a; margin-bottom: 10px; }

/* quiz */
	#worldOfStyleQuiz .module-wrap.wosq-quiz { width: 90%; margin: 0 auto; max-width: 1190px; padding: 26px 0 65px; }
	#worldOfStyleQuiz .wosq-progress { font-size: 21px; }
	#worldOfStyleQuiz .wosq-bar { width: 100%; max-width: 410px; height: 6px; background: #efefef; margin: 14px auto 0; }
	#worldOfStyleQuiz .wosq-progress-highlight { height: 6px; background: #666666; float: left; }
	#worldOfStyleQuiz h3 { font-size: 36px; margin: 15px 0 5px; }
	#worldOfStyleQuiz p { font-size: 21px; margin: 0 0 24px; }

/* grid */
	#worldOfStyleQuiz .wosq-quiz .wosq-grid { padding: 0; margin: 0 0 42px; list-style: none; overflow: hidden; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid li { float: left; margin-bottom: 20px; position: relative; overflow: hidden; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid .wosq-select { cursor: pointer; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid .wosq-close,
	#worldOfStyleQuiz .wosq-quiz .wosq-grid .wosq-border { position: absolute; top: 0; width: 100%; height: 100%; visibility: hidden; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid .wosq-border { left: 0; bottom: 0; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid .wosq-close { right: 0; width: 30px; height: 31px; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid .wosq-select.wosq-active .wosq-border,
	#worldOfStyleQuiz .wosq-quiz .wosq-grid .wosq-active .wosq-close { visibility: visible; opacity: 1; filter:alpha(opacity=100); }
	#worldOfStyleQuiz .wosq-quiz .wosq-disable .wosq-select { cursor: default; opacity: 0.15; filter:alpha(opacity=15); }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid.wosq-disable .wosq-select.wosq-active { cursor: pointer; opacity: 1; filter:alpha(opacity=100); }

	#worldOfStyleQuiz .wosq-quiz .wosq-grid.wosq-grid-36 li { width: 48%; margin: 0 4% 4% 0; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-36 li:nth-child(2n+2) { margin-right: 0; }

/* results grid */
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result.wosq-loader { min-height: 31px; background: url(../img/loader_spinner.gif) center top no-repeat; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-description { position: absolute; top: 0; left: 0; background: #fff; background: rgba(255, 255, 255, 0.9); opacity: 0; filter:alpha(opacity=0); color: #000; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-description span { position: relative; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-style { width: 100%; background: #4d4d4d; background: rgba(77, 77, 77, 0.85); position: absolute; z-index: 10; text-align: left;  left: 0; bottom: 0; height: 40px; filter:alpha(opacity=85); overflow: hidden; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-title { color: #fff; text-indent: 15px; font-size: 21px; line-height: 40px; display: block; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .action-favourite { display: block; float: right; margin: -40px 0 0 0; }

/* print styles */
	@media print {
		#worldOfStyleQuiz .wosq-footer,
		#worldOfStyleQuiz .wosq-heading .wosq-btn-back { display: none; }
		#worldOfStyleQuiz .wosq-heading-inner { min-height: 0; }
		#worldOfStyleQuiz h3 { margin: 0 0 5px; }
		#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-description { position: static; color: #000; text-align: left; margin: 15px 0 0; opacity: 1; filter:alpha(opacity=100); }
		#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-description span { display: block; }
		#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-description p { margin: 0 0 8px; }
		#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-style { position: static; bottom: auto; margin: 0; }
		#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-title { color: #000; text-indent: 0; }
		#worldOfStyleQuiz .wosq-quiz .wosq-grid li { overflow: visible; }
	}

/* ==|== Helper Classes ====================================================== */

.skip-links { position: absolute; top: 0; left: -900em; }