/* ==|== Breakpoint 480 =====================================================

   Authors: Tony Trinh VJI - DEC 2013

========================================================================== */

/* ==|== World of Style Quiz ====================================================== */

/* global */

/* 1. start quiz */
	#worldOfStyleQuiz .module-wrap.wosq-start { background: url(../img/bg-start-img-grid.jpg) center top repeat; }
	#worldOfStyleQuiz .wosq-start .wosq-intro { width: 80%; margin: 12% auto; }
	#worldOfStyleQuiz .wosq-start p { padding: 0 30px; }

/* 2. your category */
	#worldOfStyleQuiz .wosq-category p.wosq-unique { font-size: 25px; line-height: 32px; }

/* 3. your results */
	#worldOfStyleQuiz .wosq-footer .wosq-controls { width: 315px; margin: 32px auto 0; }
	#worldOfStyleQuiz .wosq-controls li { float: left; margin: 0 10px; }
	#worldOfStyleQuiz .wosq-controls .btn-small { padding: 8px 15px; width: auto; }

/* quiz */

/* grid */
	#worldOfStyleQuiz .wosq-quiz .wosq-grid li { width: 48%; margin-bottom: 4%; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid li:nth-child(odd) { margin-right: 4%; }

	#worldOfStyleQuiz .wosq-quiz .wosq-grid.wosq-grid-36 li { width: 32%; margin: 0 2% 2% 0; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-36 li:nth-child(3n+3) { margin-right: 0; }

/* results grid */
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-style { height: 30px; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-title { text-indent: 10px; font-size: 15px; line-height: 30px; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .action-favourite { margin: -30px 0 0 0; }