/* ==|== Breakpoint 768 =====================================================

   Authors: Tony Trinh VJI - DEC 2013

========================================================================== */

/* ==|== World of Style Quiz ====================================================== */

/* buttons */
	#worldOfStyleQuiz .btn { font-size: 32px; line-height: 36px; padding: 22px 0; width: 268px; }
	#worldOfStyleQuiz .btn-small { font-size: 26px; line-height: 30px; padding: 12px 20px; width: auto; }

/* global */

/* 1. start quiz */
	#worldOfStyleQuiz .wosq-start .wosq-intro { width: 67%; }
	#worldOfStyleQuiz .wosq-start p { font-size: 16px; padding: 0 50px; line-height: 29px; }

/* 2. your category */
	#worldOfStyleQuiz .wosq-category h3 { line-height: 1.1; }
	#worldOfStyleQuiz .wosq-category p.wosq-unique { line-height: 1.2; }

/* 3. your results */
	#worldOfStyleQuiz .wosq-footer .wosq-controls { width: 515px; }

	#worldOfStyleQuiz .wosq-controls li:nth-child(3) { display: block; }

	#worldOfStyleQuiz .wosq-location { padding: 25px 25px 25px 437px; margin: 50px auto 0; }
	#worldOfStyleQuiz .wosq-location .wosq-map { visibility: visible; z-index: 1; }
	#worldOfStyleQuiz .wosq-location .wosq-map-link { display: none; }

/* quiz */
	#worldOfStyleQuiz .module-wrap.wosq-quiz { width: 94%; }
	#worldOfStyleQuiz h3 { font-size: 50px; }
	#worldOfStyleQuiz p { font-size: 28px; }

/* grid */
	#worldOfStyleQuiz .wosq-quiz .wosq-grid li { width: 48.5%; margin-bottom: 3%; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid li:nth-child(odd) { margin-right: 3%; }

	#worldOfStyleQuiz .wosq-quiz .wosq-grid.wosq-grid-12 li { width: 24%; margin: 0 1.33% 1.33% 0; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-12 li:nth-child(4n+4) { margin-right: 0; }

	#worldOfStyleQuiz .wosq-quiz .wosq-grid.wosq-grid-36 li { width: 24%; margin: 0 1.33% 1.33% 0; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-36 li:nth-child(4n+4) { margin-right: 0; }

/* results grid */
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-style { height: 50px; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-title { text-indent: 20px; font-size: 25px; line-height: 50px; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .action-favourite { margin: -50px 0 0 0; }