/* ==|== Breakpoint 980 =====================================================

   Authors: Tony Trinh VJI - DEC 2013

========================================================================== */

/* ==|== World of Style Quiz ====================================================== */

/* buttons */
	.no-touch #worldOfStyleQuiz .btn-primary:hover { background-color: #3a3a3a; background-position: 0px -15px; }
	#worldOfStyleQuiz .btn-primary.disabled:hover { background-position: 0 0; }

/* favourites */
	#worldOfStyleQuiz a.icon-heart.action-favourite { width:50px; height:42px; background-position: center 2px; }
	#worldOfStyleQuiz a.icon-heart.action-favourite.favourited,
	#worldOfStyleQuiz a.icon-heart.action-favourite:hover { background-position:center -57px; top:7px; -webkit-transition:top 100ms linear; }
	#worldOfStyleQuiz a.icon-heart.action-favourite.favourited { top:0; }
	#worldOfStyleQuiz a.icon-heart.action-favourite.favourited:hover { top: 7px; -webkit-transition: top 100ms linear; }
	#worldOfStyleQuiz a.icon-heart.action-favourite:hover:after { display:block; }

/* global */

/* 1. start quiz */

/* 2. your category */
	#worldOfStyleQuiz .wosq-category p.wosq-unique { font-size: 33px; }

/* 3. your results */
	#worldOfStyleQuiz .wosq-quiz.wosq-result .wosq-grid { margin-bottom: 42px; }
	#worldOfStyleQuiz .wosq-smedia { width: 555px; margin: 0 auto; }
	#worldOfStyleQuiz .wosq-smedia span { display: block; float: left; font-size: 28px; line-height: 85px; margin: 0 10px 0 0; }
	#worldOfStyleQuiz .wosq-smedia .wosq-twitter,
	#worldOfStyleQuiz .wosq-smedia .wosq-facebook { margin-right: 30px; }
	#worldOfStyleQuiz .wosq-smedia ul { max-width: 320px; margin: 0; }
	.no-touch #worldOfStyleQuiz .wosq-smedia li a:hover img { top: -147px; }

/* quiz */

/* grid */
	.no-touch #worldOfStyleQuiz .wosq-quiz .wosq-grid .wosq-select:hover .wosq-border { visibility: visible; opacity: 0.8; filter:alpha(opacity=80); }
	.no-touch #worldOfStyleQuiz .wosq-quiz .wosq-grid.wosq-disable .wosq-select:hover .wosq-border { visibility: hidden; }
	.no-touch #worldOfStyleQuiz .wosq-quiz .wosq-grid .wosq-select.wosq-active:hover .wosq-border,
	.no-touch #worldOfStyleQuiz .wosq-quiz .wosq-grid.wosq-disable .wosq-select.wosq-active:hover .wosq-border { visibility: visible; opacity: 1; filter:alpha(opacity=100); }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid .wosq-select.wosq-active .wosq-border { opacity: 1; filter:alpha(opacity=100); }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid.wosq-disable .wosq-select.wosq-active .wosq-border { visibility: visible; }

	#worldOfStyleQuiz .wosq-quiz .wosq-grid li { width: 49%; margin-bottom: 2%; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid li:nth-child(odd) { margin-right: 2%; }

	#worldOfStyleQuiz .wosq-quiz .wosq-grid.wosq-grid-8 li { width: 24%; margin: 0 1.33% 1.33% 0; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-8 li:nth-child(4n+4) { margin-right: 0; }

	#worldOfStyleQuiz .wosq-quiz .wosq-grid.wosq-grid-12 li { width: 24%; margin: 0 1.33% 1.33% 0; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-12 li:nth-child(4n+4) { margin-right: 0; }

	#worldOfStyleQuiz .wosq-quiz .wosq-grid.wosq-grid-36 li { width: 16%; margin: 0 0.8% 0.8% 0; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-36 li:nth-child(6n+6) { margin-right: 0; }

/* results grid */
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-description { width: 100%; height: 100%; font-size: 18px; line-height: 1.3;
		-webkit-transition: all 200ms ease-out;
		-moz-transition: all 200ms ease-out;
		-o-transition: all 200ms ease-out;
		transition: all 200ms ease-out;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-description p { font-size: 18px; line-height: 1.3; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-description span { display: block; top: 20%; width: 356px; margin: 0 auto; }
	.no-touch #worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-select:hover .wosq-description { opacity: 1; filter:alpha(opacity=90); }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-style { height: 70px;  }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-title { font-size: 32px; line-height: 70px; text-indent: 25px; float: left; }
	.no-touch #worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-title:hover { color: #c3c3c3; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .action-favourite { display: block; float: right; margin: 19px 24px 0 0; }