/* ==|== Breakpoint 1240 =====================================================

   Authors: Tony Trinh VJI - DEC 2013

========================================================================== */

/* ==|== World of Style Quiz ====================================================== */

/* buttons */
	.oldie #worldOfStyleQuiz .btn-primary { background-color: #464646; }
	.oldie.no-touch #worldOfStyleQuiz .btn-primary:hover { background-color: #3a3a3a; }

/* global */

/* 1. start quiz */
	#worldOfStyleQuiz .wosq-start .wosq-intro { margin: 150px auto; }

/* 2. your category */

/* 3. your results */
	#worldOfStyleQuiz .wosq-smedia { float: left; width: auto; margin: 0; }
	#worldOfStyleQuiz .wosq-smedia ul { float: left; max-width: none; }
	#worldOfStyleQuiz .wosq-footer .wosq-controls { float: right; margin: 14px 0; width: auto; }
	#worldOfStyleQuiz .wosq-controls li { margin: 0 0 0 20px; }

/* quiz */
	/* IE7-8 */
	.oldie #worldOfStyleQuiz .module-wrap.wosq-quiz { width: 1116px; }

/* grid */
	/* IE7-8 */
	.oldie #worldOfStyleQuiz .wosq-quiz .wosq-grid { width: 102%; margin-right: -2%; }
	.oldie #worldOfStyleQuiz .wosq-quiz .wosq-grid .wosq-border { height: auto; }
	.oldie #worldOfStyleQuiz .wosq-quiz .wosq-disable .wosq-select { display: block; zoom: 1; }

	.oldie #worldOfStyleQuiz .wosq-quiz .wosq-grid li { width: 48%; margin: 0 2% 2% 0; }
	.oldie #worldOfStyleQuiz .wosq-quiz .wosq-grid.wosq-grid-8 li,
	.oldie #worldOfStyleQuiz .wosq-quiz .wosq-grid.wosq-grid-12 li { width: 23.5%; margin: 0 1.33% 1.33% 0; }
	.oldie #worldOfStyleQuiz .wosq-quiz .wosq-grid.wosq-grid-36 li { width: 15.5%; margin: 0 1% 1% 0; }

/* results grid */
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-description,
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-description p { font-size: 22px; line-height: 1.4; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-description span { top: 75px; width: 412px; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-style { height: 88px; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-title { font-size: 42px; line-height: 88px; text-indent: 30px; }
	#worldOfStyleQuiz .wosq-quiz .wosq-grid-result .action-favourite { margin: 28px 24px 0 0; }

	/* IE7-8 */
	.oldie #worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-description { font-size: 20px; }
	.oldie #worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-description span { display: none; }
	.oldie.no-touch #worldOfStyleQuiz .wosq-quiz .wosq-grid-result .wosq-select:hover .wosq-description span { display: block; }